button {
    background-color: #312085;
    color: #FFFFFF;
    font-size: 14px;
    width: 110px;

}

.pointer {
    cursor: pointer;
  }

  .button1 {
    background-color: #312085;
    color: #FFFFFF;
    font-size: 14px;
    width: 40px;
  
  }
  