<div class="container">
    <div class="first-row">
        <div class="first-row-header d-flex justify-content-center">
    <h1 class="text-center">glossary</h1>
        </div>
        <div class="first-row-body d-flex justify-content-center">
            <div class="card ">
                <div class="card-body px-5 py-5 ">
                   <ol>
                    <li><p><span> Ask (Offer)-</span>
                        Price of the offer, the price you buy for.</p></li> 
                        <li><p><span> Aussie-</span>
                            A slang name for the Australian Dollar, abbreviated AUD.</p></li>
                            <li><p><span>  Appreciation-</span> 
                                Rise in the value of one currency against another which has a floating rate.</p></li>
                                <li><p><span> Bank Rate-</span>                             
                                    The percentage rate at which central bank of a country lends money to the country's commercial banks.</p></li>
                                    <li><p><span> Bid-</span>
Price of the demand, the price you sell for.</p></li>
                                        <li><p><span>    BOC-</span>
                                         
The Central Bank of Canada.</p></li>
                                            <li><p><span> BOJ-</span>
The Central Bank of Japan.</p></li>
                                                <li><p><span>  BOE-</span>
                                                   
Bank of England, the central bank of the UK.</p></li>
                                                    <li><p><span>  Bundesbank-</span>
                                                       
Central Bank of Germany, also nicknamed Bubba.</p></li>
<li><p><span>   Base Currency-</span>
        Currency which goes first in the currency quote.</p></li>
    <li><p><span>    Bear Market-</span>
      
        A market which expects that currency rates will decline, "bearish market".</p></li>
        <li><p><span>    Bull Market-</span>
          
A market that expects the rise in the currency rate.</p></li>
            <li><p><span>   Central Bank-</span>
                A financial institution which regulates monetary policy of a country.</p></li>
                <li><p><span>  Currency Rate-</span>
                      Price rate of one currency against another one.</p></li>
                    <li><p><span>    Cross Rate-</span>
                      
                        A currency quote without direct involvement of the USD.</p></li>
                        <li><p><span>    Day Trading-</span>
                          
                         Opening and closing of the same position within one trading day.</p></li>
                            <li><p><span>   Direct Quote-</span>
                               
                                Amount of foreign currency required to buy a unit of national currency.</p></li>
                                <li><p><span>  Depreciation-</span>
                                    
                                    A decline in the value of a currency due to market forces.</p></li>
                                    <li><p><span>   Execution-</span>
                                       
                                        When a trade is carried out and completed.</p></li>
                                        <li><p><span>  Exposure-</span>
                                           
                                            This refers to the amount invested in a security and exposed to market risk.</p></li>
                                            <li><p><span>  ECB-</span>
                                                
                                                Abbreviation for Europe’s central bank, the European Central Bank</p></li>
                                                <li><p><span>     Exchange rate-</span>
                                                 
                                                    The rate of buying/selling one currency for another.</p></li>
                                                    <li><p><span>      Floating Leverage-</span>
                                                   
                                                        A leverage that changes depending on the total size of open positions.</p></li>
                                                        <li><p><span> Fundamental Analysis-</span>
                                                            
                                                            The analysis based only on news, economic indicators, and global events.</p></li>

                                                            <li><p><span>  Federal Reserve (Fed)-</span>
                                                           
The Central Bank of the United States.</p></li>
                                                                <li><p><span> Foreign Exchange-</span>
                                                                    
                                                                    Conversion operations of the foreign currency exchange.</p></li>
                                                                    <li><p><span> GDP (Gross Domestic Product)-</span>
                                                                        
                                                                        A measure of the national income and output for the country's economy; it is one of the most important fundamental indicators.</p></li>
                                                                        <li><p><span>  Greenback-</span>
                                                                           
                                                                            "Greenback", dealer’s slang for the U.S. Dollar.</p></li>
                                                                            <li><p><span> G7-</span>
                                                                                
                                                                                Group of 7 Nations - United States, Japan, Germany, United Kingdom, France, Italy, and Canada.</p></li>
                                                                                <li><p><span> Hedging-</span>
                                                                                    
                                                                                    Strategy which is used to reduce investment risks when urgent selling/buying transactions are concluded.</p></li>  
                                                                                    <li><p><span> Interbank Rates-</span>
                                                                                        
                                                                                        Currency rates set by large International Banks for the other large International Banks.</p></li>
                                                                                        <li><p><span>  Inflation-</span>
                                                                                           
                                                                                            Rise of the general level of prices.</p></li>
                                                                                            <li><p><span>Jobless Claims-</span>
                                                                                                
                                                                                                Economic indicator, showing a number of the registered unemployed.</p></li>  
                                                                                                <li><p><span>Kiwi-</span>
                                                                                                    
                                                                                                    Nickname for New Zealand Dollar.</p></li> 
                                                                                                    <li><p><span> Limit order-</span>
                                                                                                       
                                                                                                        Trader’s order to open short or long position when the price reaches the target level.</p></li> 
                                                                                                        <li><p><span>Liquidity-</span>
                                                                                                            
                                                                                                            A measure of markets that describes relationship between the trading volume and the price change.</p></li> 
                                                                                                            <li><p><span> Lot-</span>
                                                                                                               
                                                                                                                Lot is a standardized quantity of the instrument you are trading. In forex, one lot is 100,000 units of a particular currency.</p></li> 
                                                                                                                <li><p><span> Long Position-</span>
                                                                                                                   
                                                                                                                    Taking a long position on a currency means that you buy it. In a currency pair, you buy the first of the two currencies – the base currency.</p></li> 
                                                                                                                    <li><p><span>  Loonie-</span>
                                                                                                                      
                                                                                                                        Nickname for the Canadian dollar or the USD/CAD (U.S. Dollar/Canadian Dollar) currency pair.
                                                                                                                        </p></li> 
                                                                                                                        <li><p><span>  Leverage-</span>
                                                                                                                          
                                                                                                                            Also known as margin, this is the percentage or fractional increase you can trade from the amount of capital you have available. It allows traders to trade notional values far higher than the capital they have.</p></li> 
                                                                                                                            <li><p><span>Margin-</span>
                                                                                                                                
                                                                                                                                The guarantee, which is required by the dealer from the trader, to maintain an open locked position or locked position that the client intends to open. Each tool, asset or market has its own margin requirements. The margin is the collateral on a leveraged trade.</p></li> 
                                                                                                                                <li><p><span> Margin Call-</span>
                                                                                                                                   
                                                                                                                                    This is a notification which alerts you that you need to deposit more money in your trading account so there can be sufficient margin to keep existing positions open.</p></li> 
                                                                                                                                    <li><p><span> Market Order-</span>
                                                                                                                                       
                                                                                                                                        An order to buy or sell a lot at a current market rate.</p></li> 
                                                                                                                                        <li><p><span> Market Price-</span>
                                                                                                                                           
                                                                                                                                            A current rate, at which the currency is traded in the market.</p></li> 
                                                                                                                                            <li><p><span>Margin Level-</span>
                                                                                                                                                
                                                                                                                                                An indicator showing the state of a trader’s trading account.</p></li> 
                                                                                                                                                <li><p><span>    Nonfarm payrolls-</span>
                                                                                                                                                
                                                                                                                                                    A number of employees on the payroll (excluding the agricultural sector).</p></li> 
                                                                                                                                                    <li><p><span> No Dealing Desk-</span>
                                                                                                                                                       
                                                                                                                                                        The process of delivering prices from the liquidity providers to traders without a department in the broker’s office acting as trade or pricing intermediary. ECN brokers operate a ‘no dealing desk’ environment.</p></li> 
                                                                                                                                                        <li><p><span> Offer-</span>
                                                                                                                                                           
                                                                                                                                                            The price at which a buyer is requested to make a purchase.</p></li> 
                                                                                                                                                            <li><p><span>Open position-</span>
                                                                                                                                                                
                                                                                                                                                                An active trade with corresponding unrealized P&L, which has not been offset by an equal and opposite deal.</p></li> 
                                                                                                                                                                <li><p><span>Order-</span>
                                                                                                                                                                    
                                                                                                                                                                    An instruction to execute a trade at a specified rate.</p></li>   
                                                                                                                                        
                                                                                                                                                                        <li><p><span>Overbought-</span>
                                                                                                                                                                            
                                                                                                                                                                            A market situation which takes place after a rapid and significant currency rise</p></li>   
                                                                                                                                                                            <li><p><span>Pip-</span>
                                                                                                                                                                                
                                                                                                                                                                                The smallest unit of price for any foreign currency, pips refer to digits added to or subtracted from the fourth decimal place, i.e. 0.0001.</p></li>   
                                                                                                                                                                                <li><p><span> Price Quotations-</span>
                                                                                                                                                                                   
                                                                                                                                                                                    Quotes of one currency price against another currency.</p></li>   
                                                                                                                                                                                    <li><p><span>    Range-</span>
                                                                                                                                                                                    
                                                                                                                                                                                        Difference between two prices.</p></li>   
                                                                                                                                                                                        <li><p><span>Rate-</span>
                                                                                                                                                                                            
                                                                                                                                                                                            The price of one currency in terms of another, typically used for dealing purposes.</p></li>   
                                                                                                                                                                                            <li><p><span>Resistance Level-</span>
                                                                                                                                                                                                
                                                                                                                                                                                                A horizontal or inclined price level on the chart; upper limit of price fluctuation.</p></li>   
                                                                                                                                                                                                <li><p><span>Roll-over-</span>
                                                                                                                                                                                                    
                                                                                                                                                                                                    The way of transferring Stop-Loss orders to more favourable positions.</p></li>   
                                                                                                                                                                                                    <li><p><span>RSI (Relative Strength Index)-</span>
                                                                                                                                                                                                        
                                                                                                                                                                                                        A technical indicator that measures the power of a directional price movement by comparing the bullish and bearish portions of the trend.</p></li>   
                                                                                                                                                                                                        <li><p><span> Spread-</span>
                                                                                                                                                                                                           
                                                                                                                                                                                                            Difference between buying and selling prices of the currency indicated in points.</p></li>   
                                                                                                                                                                                                            <li><p><span> Stop Limit-</span>
                                                                                                                                                                                                               
                                                                                                                                                                                                                Pending orders; execution of the order is delayed by a dealer until the price at the market reaches the level, specified in the order.</p></li>   
                                                                                                                                                                                                                <li><p><span>Support Level-</span>
                                                                                                                                                                                                                    
                                                                                                                                                                                                                    Horizontal or inclined price level on the chart; upper limit of price fluctuation.</p></li>  
                                                                                                                                                                                                                    <li><p><span>Swap points-</span>
                                                                                                                                                                                                                        
                                                                                                                                                                                                                        Points calculated in advance for transferring open position to the next day with the help of swap operation.</p></li>  
                                                                                                                                                                                                                        <li><p><span>Short position-</span>
                                                                                                                                                                                                                            
                                                                                                                                                                                                                            An open position for selling currency with the intention to buy it in the future at a lower price.</p></li>  
                                                                                                                                                                                                                            <li><p><span> Stop Loss-</span>
                                                                                                                                                                                                                               
                                                                                                                                                                                                                                Order to close positions to limit losses.</p></li>  
                                                                                                                                                                                                                                <li><p><span>Swap-</span>
                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                    Funds that are retained or added to a trader’s account for rollover to the next day.</p></li>  
                                                                                                                                                                                                                                    <li><p><span> SNB-</span>
                                                                                                                                                                                                                                       
                                                                                                                                                                                                                                        Abbreviation for the Swiss National Bank.</p></li> 
                                                                                                                                                                                                                                        <li><p><span>     Stock Index-</span>
                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                            A stock index is a measured value of a group of selected stocks that are analyzed together. Investors use indices to monitor the market in general.</p></li>  
                                                                                                                                                                                                                                            <li><p><span>Trend-</span>
                                                                                                                                                                                                                                                
                                                                                                                                                                                                                                                A market's direction established under an influence of various factors.</p></li>  
                                                                                                                                                                                                                                                <li><p><span> Technical Analysis-</span>
                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                    A method of forecasting future price direction with the help of price charts examination.</p></li>  
                                                                                                                                                                                                                                                    <li><p><span> Take-profit-</span>
                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                        Currency sell/buy order for the open position at a specified price to gain profit.</p></li>  
                                                                                                                                                                                                                                                        <li><p><span> Thin Market-</span>
                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                            Market with low liquidity.</p></li>  
                                                                                                                                                                                                                                                            <li><p><span>  Trend Line-</span>
                                                                                                                                                                                                                                                               
                                                                                                                                                                                                                                                                Straight line on a price chart drawn across the minimum values (in case of ascending trend) or across maximum values (in case of descending trend).</p></li>  
                                                                                                                                                                                                                                                                <li><p><span>  Uptrend-</span>
                                                                                                                                                                                                                                                                   
                                                                                                                                                                                                                                                                    Ascending price trend, "bullish" trend.</p></li>  
                                                                                                                                                                                                                                                                    <li><p><span> Uptick-</span>
                                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                        New price quote which is higher than previous price.</p></li>  
                                                                                                                                                                                                                                                                        <li><p><span>  Volume-</span>
                                                                                                                                                                                                                                                                           
                                                                                                                                                                                                                                                                            Activity level of currency trading.</p></li>  
                                                                                                                                                                                                                                                                            <li><p><span> Volumes chart-</span>
                                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                                                                                A bar chart that shows the volume of conducted transactions.</p></li>   

                   </ol>
                </div>

            </div>

        </div>

    </div>
 
</div>




