<div class="container">
    <div class="first-row">
        <div class="first-row-header d-flex justify-content-center">
    <h1>indices</h1>
        </div>
        <div class="first-row-body d-flex justify-content-center">
            <div class="card ">
                <div class="card-body px-5 py-5 ">
                    <h6>Indices explained</h6>
           <p>An index is a measure of something – an indicator if you like. In terms of financial markets,
                it measures the current aggregated price of stocks and other financial instruments that come under the heading of securities,
                 traded on a securities market. An index in these markets represents the value of selected securities in a specific market, or in a section of it. 
                 Indices themselves cannot be bought and sold. They simply provide fluctuating price indicators. 
                 The Dow Jones and Standard & Poor's 500 are two of the most popular stock market indices, 
                 while the US Aggregate Bond Index is the equivalent in the bonds market. 
               When the term is used about mortgages it refers to some third party’s interest rate benchmark.</p><br>
               <p>The stock market’s volatility suits speculators and traders who seek to profit from the uncertainty of constant price movements.</p><br>
                   <p>You don’t acquire any of the underlying securities when trading indices. 
                       You are predicting price movements upwards or downwards of the basket of securities that the index represents. 
                       Leveraging is a mechanism used by traders to amplify their investment so that they can control a far bigger block of the asset than their capital investment might otherwise allow. 
                       That delivers greater profits but can also multiply losses in the same way, 
                       which can sometimes outstrip a trader’s investment balance.</p><br>
                       <p>Trading indices is a popular mechanism for inclusion in a diverse portfolio because it is very flexible and is another platform for capital investment.
            
                
                   <h6>Examples of Popular Indices</h6>
                   <p>The stock market’s S&P 500 index represents a basket of 70% of all U.S. publicly traded stocks and is the most popular benchmark. 
                       By comparison, the Dow Jones (Dow Jones Industrial Average or DJIA) represents only about 30%.</p><br>

                       <h6>Benefits of Trading Indices</h6>
                       <p>It presents an opportunity to diversify an investment portfolio into new markets that do not have cross-dependencies with others. 
                           It also enables investors to take advantage of the various new opportunities of global securities markets.</p><br>
                       <p>Trading indices also mitigate risk by providing a vehicle for damping or hedging against excessive movements in particular stocks and general volatility in securities markets.</p><br>
                           <p>Even relatively minor price fluctuations in global securities markets represent profitable trading opportunities. Real-time prices, low spreads and leveraging are tools traders look to use to tap into these exciting markets.</p><br>
                            <p>Check out our <span style="color: #312085;"><a href="/market/trading-information">Trading Conditions</a></span> page.</p>
                            <p>Open <span style="color: #312085;"><a href="/trade">the Beograd Investment Capital trading platform</a></span> page in order to see all the tradable indices that we offer.</p><br>
                 
                </div>

            </div>

        </div>

    </div>
 
</div>



