


  
  <div class="sidebar-container">
  
      <div class="sidebar-logo">
        Project Name
      </div>
      <ul class="sidebar-navigation">
        <li>
          <a routerLink="/dashboard/trade" routerLinkActive="active">
            <i class="fa fa-exchange" aria-hidden="true"></i> Trade
          </a>
        </li>
        <li>
          <a routerLink="/dashboard/transaction-history" routerLinkActive="active">
            <i class="fa fa-tachometer" aria-hidden="true"></i> Transaction History
          </a>
        </li>
        <li>
          <a routerLink="/dashboard/analysis" routerLinkActive="active">
            <i class="fa fa-bar-chart" aria-hidden="true"></i> Analysis
          </a>
        </li>
        <li>
          <a routerLink="/dashboard/withdraw" routerLinkActive="active">
            <i class="fa fa-money" aria-hidden="true"></i> Withdraw
          </a>
        </li>
        <li>
          <a routerLink="/dashboard/account" routerLinkActive="active">
            <i class="fa fa-cog" aria-hidden="true"></i> Account
          </a>
        </li>
        <li class="header"><a class="btn">Deposit</a></li>
      </ul>
    </div>
    
    
  
 