<div class="body">
    <app-header></app-header>
    <div class="container">
        <div class="first-row">
            <div class="first-row-header d-flex justify-content-center">
        <h1>privacy policy</h1>
            </div>
            <div class="first-row-body d-flex justify-content-center">
                <div class="card ">
                    <div class="card-body px-5 py-5 ">
                        
               <p>Logo (the “Company”) is committed to protecting the privacy of your personal information. This Privacy Policy applies to your use of the trading platform logo (the “Platform”) and governs data collection and usage in relation to the services provided through the Platform (the “Services”). This Privacy Policy, together with any other agreement which governs your use of the Platform, provides an explanation as to the treatment of the personal data which you provide us or that is collected from you in the course of your use of the Platform or any third party websites, and describes when and how we may change this Policy, and tells You how to contact us with any questions or comments. By using the Platform, you consent to the data practices described in this privacy policy.
                We collect Personal Information about You and the device You use when You use our Services through the Platform or otherwise interact with the Company</p><br>
               
    <ol>
        <li>
            <h6>Personal Information</h6>
            <p>“Personal Information” means information that we directly associate with a specific person or entity, which may include without limitations, name, addresses, telephone numbers, email address, payment information, unique device ID (the “UDID”), device location, Platform usage date, etc.
                “You” and “Your” refers to you, the person accessing the Platform and the services offered therein, and which by doing so, accepts this Privacy Policy. Any use of the above terminology or other words in the singular, plural, capitalization are taken as 
                interchangeable and therefore as referring to the same.</p>
        </li>
        <li>
            <h6>How Personal Information About You is Collected</h6>
            <p>We collect information about You in three primary ways:<br>
                a. Information You Provide. We collect information that You provide to us when You register for use of the Platform or otherwise communicate to us. Without limitations, provision of information by You may include the following: When You contact us or register to participate with our affiliated parties, Company may collect personal contact, billing information as may be necessary for the provision of Company services or the interaction executed by You.<br>
                b. Upon the establishment or modification of an account with the Company, We may collect user identification information, passwords, and/or security question responses, which You will use for future sign on.<br>
                c. Upon interaction with our Customer Service representatives or anyone acting on behalf of the Company, or once you enter information on our Platform, submit survey responses, we may also collect Personal Information and other information. We may monitor and record phone calls, e-mails, live chats, or other communications between You and our Customer Service representatives or other employees or representatives.</p>
        </li>
        <li>
            <h6> Information We Collect Automatically</h6>
            <p>We automatically collect a variety of Personal Information associated with Your use of the Platform or Company’s Services. Each time You visit the Platform, Personal Information is automatically gathered, which in general, this information does not identify You personally and may include without limitations: UDID, IP address, Country, City (if available), Connection Speed, Collection Date, Day of Week, Time of Day (hour), Language settings in addition to any information provided directly by You, all of which allows the Company to evaluate your use of the Platform for 
                the purpose of improving the Platform and the Services</p>
        </li>
        <li>
            <h6>The Use of Cookies</h6>
            <p>“Cookies” hereby refers to a small text file that a website can place on Your hard drive in order to collect information about Your activities on the Platform. The cookie transmits this information back to the Platform system, which, generally speaking, is the only computer that can read it. We use cookies on the Platform to enhance users’ experience and avoid multiple logins or password authentication requests.
                In addition, Your use of the Platform may direct you to certain advertisers or third party service providers which may also use cookies or similar web tags (small data text files placed on your computer or device) or similar technologies to identify Your computer or device and record Your preferences and other data for the purpose of personalizing Your visits, see which areas and features are popular, and improve Your experience and use of the services and Platforms provided.
                Depending upon the device used, You may be able to set Your browser to reject cookies or delete cookies,
                 but that may result in the loss of some functionality on the Platform.</p>
        </li>
        <li>
            <h6>The Use of Web Beacons</h6>
            <p>Company may use web beacons, which are small graphic images on a web page or an HTML, for the purpose of monitoring interaction with the Platform or e-mails. Web beacons, which are 
                very small and the same color as the background, are generally invisible.</p>
        </li>
        <li>
            <h6>Platform Use Activity</h6>
            <p>Through Your access to the Platform, we automatically collect certain Personal Information about Your use of the Platform, such as your IP address, browser type, date and time, the web page You visited before visiting our Platform, Your activities and downloads on 
                our Platform, and additional analytical information associated with the Platform.</p>

        </li>
   
        <li>
            <h6>Information From Other Sources</h6>
            <p>User may be able to login to the Platform and Services through third-party 
                services such as Facebook. 
                By logging in using a third-party service or otherwise 
                using third-party services, you allow the Company and its affiliates 
                to access information related to your account with such third party, 
                which may include without limitations, your profile information and privacy settings. 
                Furthermore, you acknowledge that such third-party may be 
                able to access information concerning your use of Company’s Services.</p>

        </li>
     
        <li>
            <h6>Company’s Use of the Personal Information Collected About You</h6>
            <p>Company may use the Personal Information collected about You for a variety of business purposes, including the following:<br>
                For providing customer services to You;<br>
                For identifying and suggesting products or services that might interest You;<br>
                For verifying Your identity and maintain a record of Your transactions and interactions with us;<br>
                For processing the transactions as applicable;<br>
                For making internal business decisions about current and future service offerings;<br>
                For creating, modifying, improving, enhancing, removing or fixing our services and their performance;<br>
                For providing You customized user experiences, including personalized services offerings;<br>
                For protecting our rights, interests, safety and property and that of our customers, service providers and other third parties and affiliates;
                Company uses third-party vendors, subcontractors, network advertisers and other businesses to deliver various services to You on Company’s behalf. These providers may be supplied with or have access to your information, including your non personally identifiable information (such as Your IP address and Your UDID) for the purposes of performing the functions for which Company has engaged them. Provided that such providers have access to your personally identifiable information, they are bound by confidentiality obligation; and
                Company may disclose and use personally identifiable information in the course of assignment of the Company, to resolve disputes, troubleshoot problems, enforce the terms of use of the Platform or other legal rights (for example, when necessary to protect Company or a third party's intellectual property or proprietary rights), or to alert You to changes in our policies or Terms of Use that may affect Your use of the Platform.</p>
        </li>
        <li>
            <h6>Use for Fraud Prevention</h6>
            <p>We may use Personal Information for 
                investigations or prevention of fraud or network abuse and to protect our users.</p>
        </li>
        <li>
            <h6>When We Share Information Collected About You</h6>
            <p>Except as detailed herein this Policy, Company does not sell, license or otherwise provides Your Personal Information to unaffiliated third-parties parties, which are outside our corporate family without Your consent. Without derogation from the aforementioned, Company may, however, disclose Your information to unaffiliated third-parties with Your Consent obtained in either writing, online, through "click-through" agreements and downloads, upon acceptance by You of the terms of disclosures for certain 
                Services or orally, when You interact with our customer service representatives</p>
        </li>
        <li>
            <h6>Access To Third-Parties</h6>
            <p>Should you be required to choose a username or password while using the Platform or Company’s products and Services, You should refrain from sharing your password with any third party. If You provide Your Account password or Your security question responses to third parties, such third parties will gain access to 
                Your Personal Information when they access Your Account with Your account password.</p>
        </li>
        <li>
            <h6> In a Business Transfer</h6>
            <p>Company may sell, disclose, or transfer information about You as part of a corporate business transaction, such as a merger or acquisition, joint venture, corporate reorganization, financing, or sale of company assets, or in the unlikely event of insolvency, bankruptcy, or receivership, in which such information could be 
                transferred to third-parties as a business asset in the transaction.</p>
          
        </li>
        <li>
            <h6>For Legal Process & Protection</h6>
            <p>Company may disclose Personal Information, and other information about You, or Your communications, where we have a good faith belief that access, use, preservation or disclosure of such information is reasonably necessary: (i) In order to satisfy any applicable law, regulation, legal process or enforceable governmental request;
                or</p>
            <p>(ii) In order to enforce or apply agreements, or initiate, render, bill, and collect for services and products 
                (including to collection agencies in order to obtain payment for our products and services);</p>
                <p>(iii) In order to protect our rights or interests, or property or safety or that of others;
                    or</p>
                <p>(iv) In order to assist with claims, disputes, or litigation – in court or elsewhere;
                    or</p>
                <p>(v) In order to facilitate or to verify the appropriate calculation of taxes, fees, or other obligations or in an emergency situation.</p>
        </li>
        <li>
            <h6> How We Store and Protect Personal Information</h6>
            <p>Company uses a variety of physical, electronic, and procedural safeguards to protect Personal Information from unauthorized access, use, or disclosure while it is under our control. Unfortunately, no data transmission over the internet can be guaranteed to be completely secure. As a result, although Company utilizes such measures, Company may not guarantee You against the loss, misuse, or alteration of Personal Information under our control, and You provide Personal Information to us at Your own risk. You should always take care with the manner in which You handle and disclose your Personal Information and should avoid sending Personal Information through insecure e-mail, social networks or other internet channels.
                Retention and Disposal. Company retains information only for as long as we have a business or tax need or as the applicable laws, regulations and/or government orders allow. In the process of disposing of Personal Information, the Company uses reasonable procedures designed to erase or 
                render it unreadable, including shredding documents and wiping electronic media.</p>
        </li>
        <li>
            <h6>Transfer to other countries</h6>
            <p>Company may store your information for as long as needed for the purposes indicated in this privacy policy and may from time to time transfer or allow access to your information to entities located in different countries outside your country where the Company has facilities, and by using the Platform, You consent to the transfer of Your information outside of Your country.
                User hereby consents to the transfer of personal information outside of User’s place of residence. By submitting your Personal Information to the 
                Company you confirm your acceptance of such global transfer of Personal Information.</p>
         
        </li>
        <li>
            <h6>Request for Removal of Your Information</h6>
            <p>User may submit a request for the removal of User’s Personal Information from Company’s system by emailing the Company at: support@logo.com, following which your account and related information will be deleted. Except if request to retain a copy of your data and records in Company’s archive subject to the applicable laws or for business purposes, 
                the Company will take reasonable efforts to fulfill your request as soon as possible.</p>
        </li>
        <li>
            <h6> Privacy Policy Updates</h6>
            <p>Company may amend this Privacy Policy at any time, and will provide updates to You or clarification of our practices. You should always 
                refer to this Policy for the latest information and the effective date of any changes.</p>
        </li>
        <li>
            <h6>  Contact</h6>
            <p>Any questions about this Privacy Policy should be referred to hello@logo.com</p>
        </li>
        </ol>
       <br>
 
                    </div>
    
                </div>
    
            </div>
    
        </div>
     
    </div>
    <app-footer></app-footer>
</div>
