.cont {
	height: 100vh !important;
	/* overflow: hidden; */
	overflow-x:hidden !important;
	display: flex;
	flex-direction: column;
	background: #0D0D21;
}
/* 
html, body {
	height: 100vh !important;
	/* overflow: hidden; */
	
  
  /* body {
	display: flex;
	flex-direction: column;
	background: #0D0D21;
  } */
  /* body { 
	background: url(https://pbs.twimg.com/media/DaxX-eAW4AUpDC-.jpg) no-repeat center center fixed; 
	background-size: cover;
	overflow-x:hidden;
  } */
  
  #mainNav {
	/* background-color: darkslategrey; */
  }
  
  #mainNav .navbar-toggler {
	font-size: 12px;
	right: 0;
	padding: 13px;
	text-transform: uppercase;
	color: white;
	border: 0;
	background-color: #fed136;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  #mainNav .navbar-brand {
	color: #fed136;
	font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  }

  .first-column {
    min-height: 100vh !important;
    border: solid 1px #0D0D21;
    background-color: #0D0D21;

  }

  .first-column-header h5 {
    font-family: 'gilroy', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 20px;
  }

  .pointer {
      cursor: pointer;
  }

  .phn {
    margin-top: -20px;
  }

  .first-column-body{
    margin-top: 60px
}

  .first-column-body-word{
      color: #FFFFFF;
      font-size: 18px;
      margin-top: 7em;
  }

  .img{
    height: 370px !important;
    width: 370px !important;
    /* margin-bottom: 140px !important; */
    text-align: left;
  }

  .center {
    display: block;
    margin-right: auto;
    width: 50%;
  }

  .second-column {
      margin-left: auto;
  }

  .second-column-header h2 {
      font-family: 'gilroy', sans-serif;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 38px;
      color: #000000;
  }

  .second-column-header h5, .second-column-header p {
    color: #83838A;
  }

  label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;

  }

  span a {
      color: #6558A3;
  }

  input, #phoneNumber {
      outline: #83838A;
  }

  button {
      background-color: #312085;
      color: #FFFFFF;
  }

  .field-icon {
    float: right;
    margin-right: 25px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    color: #83838A;
}

.second-column-header h4 {
    display: none;

}


@media screen and (max-width: 480px) {
   .first-column-body-image, .first-column-body, .first-column-header, .second-column-header p{
       display: none;
   }

   .first-column{
       width: 500px;
       z-index: -1;
   }

   .second-column{
    width: 600px;
    font-size: 15px;
}
label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    color: #ffffff;

  }


.second-column-header h2, .second-column-header h5 {
    color: #ffffff;
    font-size: 14px ;

}

.second-column-header h4 {
    display: block;
    color: #ffffff;
    font-size: 23px ;
    margin-bottom: 10px ;
}

.second-column-header {
    margin-bottom: -15px;
}

input {
    margin-bottom: -20px !important;
}

 #pass {
    margin-top: -40px !important;
 }

#first, #email {
    margin-bottom: 20px;
}


.field-icon {
    float: right;
    margin-right: 25px;
    margin-top: -10px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    color: #83838A;
}

.form-check p {
    color: #ffffff;
    font-size: 15px ;
}

.foot {
    color: #ffffff;
    font-size: 15px ;
}

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .first-column-body-image, .first-column-body, .first-column-header, .second-column-header p{
        display: none;
    }

    .first-column{
        width: 600px;
        z-index: -1;
    }

    .second-column{
     width: 600px;
     font-size: 15px;
 }
 label {
     text-transform: uppercase;
     font-weight: 600;
     font-size: 11px;
     color: #ffffff;

   }


 .second-column-header h2, .second-column-header h5 {
     color: #ffffff;
     font-size: 14px ;

 }

 .second-column-header h4 {
     display: block;
     color: #ffffff;
     font-size: 23px ;
     margin-bottom: 10px ;
 }

 .second-column-header {
     margin-bottom: -15px;
 }

 input{
     margin-bottom: -20px !important;
 }

 #pass {
    margin-top: -40px !important;
 }


 #first, #email {
     margin-bottom: 20px;
 }

 .field-icon {
     float: right;
     margin-right: 25px;
     margin-top: -10px;
     position: relative;
     z-index: 2;
     cursor: pointer;
     color: #83838A;
 }

 .form-check p {
     color: #ffffff;
     font-size: 15px ;
 }

 .foot {
     color: #ffffff;
     font-size: 15px ;
 }

}


/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {

    .first-column-body-image, .first-column-body, .first-column-header, .second-column-header p{
        display: none;
    }

    .first-column{
        min-width: 900px;
        z-index: -1;
    }

    .second-column{
    width: 800px;
     font-size: 15px;
 }
 label {
     text-transform: uppercase;
     font-weight: 700;
     font-size: 11px;
     color: #ffffff;

   }


 .second-column-header h2, .second-column-header h5 {
     color: #ffffff;
     font-size: 14px ;

 }

 .second-column-header h4 {
     display: block;
     color: #ffffff;
     font-size: 23px ;
     margin-bottom: 10px ;
 }

 .second-column-header {
     margin-bottom: -15px;
 }

 input{
     margin-bottom: -20px !important;
 }

 #pass {
    margin-top: -40px !important;
 }


 #first, #email {
     margin-bottom: 20px;
 }

 .field-icon {
     float: right;
     margin-right: 25px;
     margin-top: -10px;
     position: relative;
     z-index: 2;
     cursor: pointer;
     color: #83838A;
 }

 .form-check p {
     color: #ffffff;
     font-size: 15px ;
 }

 .foot {
     color: #ffffff;
     font-size: 15px ;
 }


}

@media only screen and (max-width: 991px) {

    .first-column-body-image, .first-column-body, .first-column-header, .second-column-header p{
        display: none;
    }

    .first-column{
        min-width: 1000px;
        z-index: -1;
    }

    .second-column{
     width: 1000px;
     font-size: 15px;
 }
 label {
     text-transform: uppercase;
     font-weight: 900;
     font-size: 11px;
     color: #ffffff;

   }


 .second-column-header h2, .second-column-header h5 {
     color: #ffffff;
     font-size: 14px ;

 }

 .second-column-header h4 {
     display: block;
     color: #ffffff;
     font-size: 23px ;
     margin-bottom: 10px ;
 }

 .second-column-header {
     margin-bottom: 70px;
 }

 input {
     margin-bottom: -20px !important;
 }

 #pass {
    margin-top: -40px !important;
 }


 #first, #email {
     margin-bottom: 20px;
 }

 .field-icon {
     float: right;
     margin-right: 25px;
     margin-top: -10px;
     position: relative;
     z-index: 2;
     cursor: pointer;
     color: #83838A;
 }

 .form-check p {
     color: #ffffff;
     font-size: 15px ;
 }

 .foot {
     color: #ffffff;
     font-size: 15px ;
 }
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {

    .img{
        height: 200px !important;
        width: 10px !important;
        /* margin-bottom: 140px !important; */
        text-align: left;
        margin-left: -30px;
      }

      .center {
        display: block;
        margin-right: auto;
        width: 50%;
      }
}

@media only screen and (max-width: 1109px) {
    .img{
        height: 290px !important;
        width: 200px !important;
        /* margin-bottom: 140px !important; */
        text-align: left;
        margin-left: -13px;
      }

      .center {
        display: block;
        margin-right: auto;
        width: 50%;
      }

}

@media only screen and (max-width: 1264px) {
    .img{
        height: 290px !important;
        width: 300px !important;
        /* margin-bottom: 140px !important; */
        text-align: left;
      }

      .center {
        display: block;
        margin-right: auto;
        width: 50%;
      }

}

@media only screen and (max-height: 640px) {
.first-column-body{
    margin-top: -100px !important;
}
}

  
  
  #mainNav .navbar-nav .nav-item .nav-link {
	font-size: 90%;
	font-weight: 400;
	padding: 0.75em 0;
	letter-spacing: 1px;
	color: white;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  @media (min-width: 992px) {
	#mainNav {
	  padding-top: 25px;
	  padding-bottom: 25px;
	  -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
	  -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
	  transition: padding-top 0.3s, padding-bottom 0.3s;
	  border: none;
	  background-color: transparent;
	}
	#mainNav .navbar-brand {
	  font-size: 1.75em;
	  -webkit-transition: all 0.3s;
	  -moz-transition: all 0.3s;
	  transition: all 0.3s;
	}
	#mainNav .navbar-nav .nav-item .nav-link {
	  padding: 1.1em 1em;
	}
	#mainNav.navbar-shrink {
	  padding-top: 0;
	  padding-bottom: 0;
	  background-color: darkslategrey;
	}
	#mainNav.navbar-shrink .navbar-brand {
	  font-size: 1.25em;
	  padding: 12px 0;
	}
  }
  
  #login{
	border-radius:25px;
	padding: 0.8em 1em !important;
	margin-top:0.3em;
  }
  
  .content{
	margin-top:20%;
	margin-bottom: 5%;
  }
  
  
  .btn-primary:hover {
	  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
  }
  
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
	  box-shadow:none;
  }
  
  .content {
	flex: 1 0 auto;
  }
  .footer {
	flex-shrink: 0;
  }
  
  @media (min-width: 400px) {
	 .content{
	 margin-top:15% !important;
	 margin-bottom: 5%;
	 }
  }
  
  @media (min-width: 500px) {
	 .content{
	 margin-top:10% !important;
	 margin-bottom: 5%;
	 }
  }
  
  footer {
	text-align: center;
	background-color: white;
  }
  
  footer span.copyright {
	font-size: 90%;
	line-height: 40px;
	text-transform: none;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  footer ul.quicklinks {
	font-size: 90%;
	line-height: 40px;
	margin-bottom: 0;
	text-transform: none;
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  ul.social-buttons {
	margin-bottom: 0;
  }
  
  ul.social-buttons li a {
	font-size: 20px;
	line-height: 40px;
	display: block;
	width: 40px;
	height: 40px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	color: white;
	border-radius: 100%;
	outline: none;
	background-color: #212529;
  }
  
  ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
	background-color: #fed136;
  }
  