<ngx-spinner bdColor="rgba(51,51,51,0.8)" [fullScreen]="false" type="ball-spin-clockwise" size="small">
  <p style="font-size: 20px; color: white"></p>
</ngx-spinner>
<div class="cont">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <h5 class="mb-5"  routerLink="/">
      <img src='/assets/images/logo.svg' width="80px" alt="Logo Image">
    </h5>
  </div>
</nav>
<div class="container content" *ngIf="!show">
  <div class="row">
    <div class="card card-login mx-auto mt-5 col-md-6">
      <div class="card-header"></div>
      <div class="card-body">
        <div class="text-center mb-4">
          <h4>Reset Password</h4>
          <p>Enter your password to reset your password.</p>
        </div>
        <form [formGroup]="resetForm" (ngSubmit)="send()">
          <div class="form-group my-4" id="pass">
            <label for="password" class="my-2">password</label>
            <input type="password" class="form-control form-control-lg" id="password"
                   [class.border-danger]="resetForm.get('password').invalid && (resetForm.get('password').touched || resetForm.get('password').dirty)"
                   formControlName="password">
            <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            <div class="text-danger" *ngIf = "resetForm.get('password').invalid && (resetForm.get('password').touched || resetForm.get('password').dirty)">
              <small *ngIf = "resetForm.get('password').errors?.required"> Password required</small>
              <small *ngIf = "resetForm.get('password').errors?.minlength"> Password must be more than 5 character</small></div>
            <div class="text-danger">
              <small *ngIf = "resetForm.get('password').errors?.passwordStrength"> {{resetForm.get('password').errors['passwordStrength']}}</small>
          </div>
          </div>

          <div class="form-group my-4">
            <label for="confirmPassword" class="my-2">confirm password</label>
            <input type="password" class="form-control form-control-lg"
                   [class.border-danger]="resetForm.get('confirmPassword').invalid && resetForm.get('confirmPassword').touched || resetForm.errors?.misMatch"
                   id="confirmPassword"
                    formControlName="confirmPassword">
            <span toggle="#confirmPassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            <div class="text-danger" *ngIf = "resetForm.get('confirmPassword').invalid &&  (resetForm.get('confirmPassword').touched || resetForm.get('confirmPassword').dirty) || resetForm.errors?.misMatch">
              <small *ngIf = "resetForm.get('confirmPassword').errors?.required"> Password required</small>
              <small  *ngIf = "resetForm.errors?.misMatch"> Passwords do not match</small>
            </div>
          </div>
          <div class="d-flex justify-content-center">
          <button [disabled]="resetForm.disabled" class="btn btn-primary btn-block mt-3 d-flex justify-content-center" >Reset Password</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>



<div class="container content" *ngIf="show">
  <div class="row">
    <div class="card card-login mx-auto mt-5 col-md-6">
      <div class="card-header">Reset Password</div>
      <div class="card-body">
        <div class="text-center mb-4">
         
          <p>Password Reset.</p>
        </div>
        <div class="d-flex justify-content-center">
          <button routerLink="/auth/auth-login"  class="btn btn-primary btn-block mt-3 d-flex justify-content-center" >Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>