<div class="container">
    <div class="first-row">
        <div class="first-row-header d-flex justify-content-center">
    <h1>fundamental analysis</h1>
        </div>
        <div class="first-row-body d-flex justify-content-center">
            <div class="card ">
                <div class="card-body px-5 py-5 ">
           <p>The purpose and use of Fundamental Analysis is to predict market price movements through analysis. 
               It studies economic conditions and how they might impact on the local currency. 
               Elements such as employment levels, interest rates, manufacturing output, 
               international trade and GDP are all taken into account. 
               Fundamental Analysis is based on the assumption that an asset’s value may not be the same as its price. 
               That applies to all markets, not just Forex. It happens occasionally that an asset may be overpriced or underpriced for a brief period. 
               The belief that it will eventually return to its correct price is the basis for followers of the approach. 
               The objective of Fundamental Analysis is to identify trading opportunities where the true value differs from the current price. 
               That encapsulates the essential difference between it and Technical Analysis which focuses only on price movements and ignores economic indicators completely. 
               Technical analysis is best suited to very short term forecasting while fundamental analysis looks at the bigger picture and aims to deliver long term forecasts.</p><br>
              
               <h6>Macroeconomic Indicators</h6>
               <p>High-level economic data provides clues regarding potential changes in a country’s economic outlook.</p><br>
                   
                   <h6>Interest rates</h6>
                   <p>Interest rates are one of the most important indicators for fundamental analysis in the Forex markets. 
                       The rate that analysts most closely observe is the central bank’s base rate in a country, also called the nominal rate. 
                       A central bank literally creates money. That money is then loaned to commercial banks. 
                       The rate of interest at which those banks borrow the country’s currency from the central bank is called the base rate or nominal rate. 
                       That’s what the term ‘interest rate’ normally refers to when you hear it being discussed.</p><br>
                       <h6>Rate of Inflation</h6>
                       <p>Inflation is a measure of the rise or fall in the price of goods over a time period. 
                           It’s worth noting that the concept of acceptable ‘healthy inflation’ exists in every economy. 
                           The volume of money in circulation should grow as inflation rises over a long time period. That is also how inflation is defined. 
                           The objective of governments and their central banks is to maintain a balance at that pre-determined level.</p><br>
                           <h6>Gross Domestic Product (GDP)</h6>
                           <p>GDP is a measure of a country’s output of goods and services over a set time period. 
                               It is generally accepted as being the recognized indicator of the state of an economy’s health. 
                               The unusual aspect of this is that GDP measures supply only and ignores demand.</p><br>
                               <p>GDP, inflation and interest rates are the three economic factors that feed into fundamental analysis for Forex. 
                                   That’s because they have the most significant impact even compared with other geopolitical and macroeconomic elements such as bond prices, 
                                   traded balance, capital flow and retail sales levels. In addition, 
                                   not only are these economic indicators compared over time but they can also influence other economies and disciplines.</p><br>
                 
                </div>

            </div>

        </div>

    </div>
 
</div>


