<div class="container">
    <div class="first-row">
        <div class="first-row-header d-flex justify-content-center">
    <h1>About us</h1>
        </div>
        <div class="first-row-body d-flex justify-content-center">
            <div class="card ">
                <div class="card-body px-5 py-5 ">
           <p> Why are our customers so delighted with us as a dependable Forex broker? In part,
                it’s because everything we do is transparent. We keep things clear, simple and uncomplicated. People appreciate that. They also appreciate our willingness to help with anything you need. Fast response and support make your trading experience more enjoyable.
               It all adds up to a very special service that we know you will enjoy.</p>
               <h6>Our clients rate us very highly</h6>
               <p>We know that developing a relationship with our trading clients leads to long term association. 
                   That’s built on our willing and friendly support for every individual at every step of the way. 
                   The proof is in the superb reputation we have established amongst Forex traders. For example, 
                   you get a personal account manager immediately and you can avail of our support desk around the clock Mon-Fri. 
                   We designed our leading edge trading platforms along with our innovative trading policies to appeal to a global audience. 
                   Deep experience in global financial markets has honed our expertise in offering traders what they want. 
                   The result is exceptional services for trading indices and stocks as well as Forex. 
                   At the heart of our success is a simple truism – deliver superb customer satisfaction and you will receive loyalty in return. 
                   It works. Our reputation is built both on integrity and treating our clients the way they deserve and appreciate. 
                   We focus internally on observing trends in the industry and keeping abreast of breakthroughs in technology. 
                   That means we better serve our client base as it grows ever more sophisticated and demands more from our services. 
                   You will never find us compromising in critical aspects such as tight spreads and lightning-fast execution. 
                   From the very beginning, we targeted fast execution, tighter spreads and better service for traders. 
                   We are still just as committed to those founding principles today. 
                   We provide valuable assistance to traders who want to add Forex as an asset class to their existing investment portfolio. 
                   You can access up to the moment market data through our trading platform, which is your path to many Forex markets with ample liquidity. 
                   You will find that our focus on service, integrity and execution makes us stand apart from the competition. Beograd Investment Capital works hard at being best in class. 
                   It’s that consistency that drives our success in becoming the global leader in Forex and general trading services.</p>
                   <h6>Why Trade with Beograd Investment Capital?</h6>
                   <ul>
                       <li><p>A trading platform that is feature rich, user-friendly and powerful <br>Beograd Investment Capital’s platform is widely recognized for its lightning fast execution speeds and a wide range of trading tools.</p></li>
                       <li><p>Competitive Trading Environment <br>Beograd Investment Capital is dedicated to affording you the most competitive trading environment and conditions available anywhere</p></li>
                       <li><p>Secure Transactions<br>Our systems and processes are professionally encrypted and totally secure.</p></li>
                       <li><p>Multiple Account Types suit every trader<br>Beograd Investment Capital offers a variety of account types guaranteed to suit the requirements of all traders. 
                        Each one offers tight spreads and a range of benefits.</p></li>
                   </ul>
                </div>

            </div>

        </div>

    </div>
 
</div>
