<div class="container">
    <div class="first-row">
        <div class="first-row-header d-flex justify-content-center">
    <h1>faq</h1>
        </div>
        <div class="first-row-body d-flex justify-content-around">
            <div class="card ">
                <div class="card-header">
                    <h3 class="text-center mx-5 my-2" style="color: black; font-size: 20px;">My Account</h3>
                                    </div>
                <div class="card-body px-1 py-2 ">
          <div class="d-flex justify-content-around">
         <li class="nav-item dropdown">
                <a class="nav-link"  data-toggle="dropdown"> How can I open an account with logo?  </a>
                <i class="fa fa-plus" style="color: green; font-size: 10px; margin-top: 5px;" aria-hidden="true"></i>
                <ul class="dropdown-menu fade-up">
                  <li><a class="dropdown-item" href="#"> Submenu item 1</a></li>
                </ul>
            </li>
            </div>
             
                </div>

            </div>
            <div class="card ">
                <div class="card-header">
                    <h3 class="text-center mx-5 my-2" style="color: black; font-size: 20px;">Deposit & Withdrawal</h3>
                                    </div>
                <div class="card-body px-5 py-5 ">
           <div class="d-flex justify-content-center"><i class="fa fa-envelope" style="color: green; font-size: 100px;" aria-hidden="true"></i></div>
           <p class="text-center mt-4">Write us on:</p>
           <p class="text-center">logo@gmail.com</p>
                </div>

            </div>

            <div class="card ">
                <div class="card-header">
<h3 class="text-center mx-5 my-2" style="color: black; font-size: 20px;">Trading</h3>
                </div>
                <div class="card-body px-5 py-5 ">
           <div class="d-flex justify-content-center"><i class="fa fa-envelope" style="color: green; font-size: 100px;" aria-hidden="true"></i></div>
           <p class="text-center mt-4">Write us on:</p>
           <p class="text-center">logo@gmail.com</p>
                </div>

            </div>

    </div>
 
</div>
</div>

