<div class="container-fluid pb-5" *ngIf= 'show ==="true"'>
  <!-- <div class="logo">
      <h3>Logo</h3>
  </div> -->
  <div class="container mt-5">
      <div class="page-header d-flex justify-content-center">
          <h2>Activate Your Account</h2>
      </div>
      <div class="page-header d-flex justify-content-center">
      <p>Chooose a package that suits you, invest and start trading</p>
      </div>
      <div class="page-body mt-4">
          <div class="col-3 px-2">
              <div class="card shadow bg-white rounded-2 border-0">
                  <div class="card-body">
                      <div class="header">
                  <h6 class="text-center">Basic</h6>
                  <h3 class="text-center">$250</h3>
              </div>
                  <hr class="mx-5">
                  <!-- <div class="d-flex justify-content-between">
                    <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                    <p >24/6 Support</p>
                </div>
                <div class="d-flex justify-content-between">
                    <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                    <p >Education center</p>
                </div>
                <div class="d-flex justify-content-between">
                    <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                    <p >Daily market review</p>
                </div>
                <div class="d-flex justify-content-between">
                    <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                    <p >PRO webinars</p>
                </div>
                <div class="d-flex justify-content-between">
                    <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                    <p >Price Alerts</p>
                </div>
                <div class="d-flex justify-content-between">
                    <i style="color: #E9E9E9; font-size: 12px;" class="fa fa-times mt-1" aria-hidden="true"></i>&nbsp;
                    <p style="color: #E9E9E9;">Executive Account Managers</p>
                </div>
                <div class="d-flex justify-content-between">
                    <i style="color: #E9E9E9; font-size: 12px;" class="fa fa-times mt-1" aria-hidden="true"></i>&nbsp;
                    <p style="color: #E9E9E9;">Trading Signals Up to X</p>
                </div>
                <div class="d-flex justify-content-between">
                    <i style="color: #E9E9E9; font-size: 12px;" class="fa fa-times mt-1" aria-hidden="true"></i>&nbsp;
                    <p style="color:#E9E9E9;">Personalised Trading Strategy</p>
                </div>
                <div class="d-flex justify-content-between">
                    <i style="color: #E9E9E9; font-size: 12px;" class="fa fa-times mt-1" aria-hidden="true"></i>&nbsp;
                    <p style="color:#E9E9E9;">Exclusive Position Access</p>
                </div> -->

                  <div class="d-flex justify-content-center mt-4">
                    <button class="btn py-2" (click)="pay10()">Invest</button>
                  </div>

                  </div>
                </div>
          </div>

          <div class="col-3 px-2">
              <div class="card shadow bg-white rounded-2 border-0">
                  <div class="card-body">
                      <div class="header">
                      <h6 class="text-center">Silver</h6>
                      <h3 class="text-center">$1,000</h3>
                      </div>
                      <hr class="mx-5">
                      <!-- <div class="d-flex justify-content-between">
                        <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                        <p >24/6 Support</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                        <p >Education center</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                        <p >Daily market review</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                        <p >PRO webinars</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                        <p >Price Alerts</p>
                    </div>
                      <div class="d-flex justify-content-between">
                          <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                          <p >Executive Account Managers</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <i style="color: #E9E9E9; font-size: 12px;" class="fa fa-times mt-1" aria-hidden="true"></i>&nbsp;
                        <p style="color: #E9E9E9;">Trading Signals Up to X</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <i style="color: #E9E9E9; font-size: 12px;" class="fa fa-times mt-1" aria-hidden="true"></i>&nbsp;
                        <p style="color:#E9E9E9;">Personalised Trading Strategy</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <i style="color: #E9E9E9; font-size: 12px;" class="fa fa-times mt-1" aria-hidden="true"></i>&nbsp;
                        <p style="color:#E9E9E9;">Exclusive Position Access</p>
                    </div> -->

                      <div class="d-flex justify-content-center mt-4">
                        <button class="btn py-2" (click)="pay20()">Invest</button>
                      </div>

                      </div>
                </div>
          </div>

 

          <div class="col-3 px-2">
              <div class="card shadow bg-white rounded-2 border-0">
                  <div class="card-body">
                      <div class="header">
                      <h6 class="text-center">Gold</h6>
                      <h3 class="text-center">$5,000</h3>
                      </div>
                      <hr class="mx-5">
                      <!-- <div class="d-flex justify-content-between">
                        <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                        <p >24/6 Support</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                        <p >Education center</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                        <p >Daily market review</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                        <p >PRO webinars</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                        <p >Price Alerts</p>
                    </div>
                      <div class="d-flex justify-content-between">
                          <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                          <p >Executive Account Managers</p>
                      </div>
                      <div class="d-flex justify-content-between">
                          <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                          <p >Trading Signals Up to X</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <i style="color: #E9E9E9; font-size: 12px;" class="fa fa-times mt-1" aria-hidden="true"></i>&nbsp;
                        <p style="color:#E9E9E9;">Personalised Trading Strategy</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <i style="color: #E9E9E9; font-size: 12px;" class="fa fa-times mt-1" aria-hidden="true"></i>&nbsp;
                        <p style="color:#E9E9E9;">Exclusive Position Access</p>
                    </div> -->

                      <div class="d-flex justify-content-center mt-4">
                          <button class="btn py-2" (click)="pay30()">Invest</button>
                      </div>

                      </div>
                </div>
          </div>

          <div class="col-3 px-2">
              <div class="card shadow bg-white rounded-2 border-0">
                  <div class="card-body">
                      <div class="header">
                      <h6 class="text-center">Plantinum</h6>
                      <h3 class="text-center">$25,000</h3>
                      </div>
                      <hr class="mx-5">
                      <!-- <div class="d-flex justify-content-between">
                        <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                        <p >24/6 Support</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                        <p >Education center</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                        <p >Daily market review</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                        <p >PRO webinars</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                        <p >Price Alerts</p>
                    </div>
                      <div class="d-flex justify-content-between">
                          <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                          <p >Executive Account Managers</p>
                      </div>
                      <div class="d-flex justify-content-between">
                          <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                          <p >Trading Signals Up to X</p>
                      </div>
                      <div class="d-flex justify-content-between">
                          <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                          <p >Personalised Trading Strategy</p>
                      </div>
                      <div class="d-flex justify-content-between">
                          <i style="color: #4375FF; font-size: 12px;" class="fa fa-check mt-1 mr-0" aria-hidden="true"></i>&nbsp;
                          <p >Exclusive Position Access</p>
                      </div> -->


                      <div class="d-flex justify-content-center mt-4">
                          <button class="btn py-2" (click)="pay40()">Invest</button>
                      </div>

                      </div>
                </div>
          </div>

      </div>
    <div class="container page-body-mobile mt-5 ">
      <div class="card shadow bg-white rounded-2 border-0 mb-2 ">
        <div class="card-body d-flex justify-content-between">
          <div>
            <h6 class="text-left">Basic</h6>
            <h3 class="text-left">$250</h3>
          </div>
          <div>
            <button class="btn btn-primary" (click)="pay10()">Invest</button>
          </div>

        </div>

      </div>

      <div class="card shadow bg-white rounded-2 border-0 mb-2">
        <div class="card-body d-flex justify-content-between">
          <div>
            <h6 class="text-left">Silver</h6>
            <h3 class="text-left">$1,000</h3>
          </div>
          <div>
            <button class="btn btn-primary" (click)="pay20()">Invest</button>
          </div>

        </div>

      </div>

      <div class="card shadow bg-white rounded-2 border-0 mb-2">
        <div class="card-body d-flex justify-content-between">
          <div>
            <h6 class="text-left">Gold</h6>
            <h3 class="text-left">$5,000</h3>
          </div>
          <div>
            <button class="btn btn-primary" (click)="pay30()">Invest</button>
          </div>

        </div>

      </div>

      <div class="card shadow bg-white rounded-2 border-0 mb-2">
        <div class="card-body d-flex justify-content-between">
          <div>
            <h6 class="text-left">Plantinum</h6>
            <h3 class="text-left">$25,000</h3>
          </div>
          <div>
            <button class="btn btn-primary" (click)="pay40()">Invest</button>
          </div>

        </div>

      </div>

    </div>
      <div class="skip d-flex justify-content-center mt-5 mb-5">
          <a class="pointer" routerLink="/dashboard/account/personal-info">Skip For Now</a>
      </div>

  </div>
</div>

<div *ngIf= 'show ==="false"' class="mt-5">
  <h3 class="text-center">Scan to Pay</h3>
  <div  class="d-flex justify-content-center">
<img [src]="data" height="300" width="300" alt="Bitcoin QR Code" />
</div>
<div class="d-flex justify-content-center">
    <form [formGroup]="copyForm">
    <input class="form-control form-control-lg" type="text" readonly  formControlName="copy" #input>
    </form>
<button class="button1" (click)="copyInputMessage(input)"><i class="fa fa-clipboard" style="font-size: 25px;" aria-hidden="true"></i></button>
</div>
<div class="skip d-flex justify-content-center mt-5">
  <a class="pointer" (click)='show = "true"'>Back</a>
</div>
</div>