<div class="container">
    <div class="first-row">
        <div class="first-row-header d-flex justify-content-center">
    <h1>contact us</h1>
        </div>
        <div class="first-row-body d-flex flex-column my-2">
            <div class="card ">
                <div class="card-body px-5 py-5 ">
          <div class="d-flex justify-content-center"><i class="fa fa-phone-square" style="color: green; font-size: 100px;" aria-hidden="true"></i></div>>
             <p class="text-center">Call us on:</p>
             <p class="text-center">+234904894988</p>
                </div>

            </div>
            <div class="card mt-2 ">
                <div class="card-body px-5 py-5 ">
           <div class="d-flex justify-content-center"><i class="fa fa-envelope" style="color: green; font-size: 100px;" aria-hidden="true"></i></div>
           <p class="text-center mt-4">Write us on:</p>
           <p class="text-center">admin@beogradinvestmentcapital.com</p>
                </div>

            </div>

    </div>
 
</div>
</div>
