.first-row-header{
    margin-top: 50px !important;
}
.first-row-header h1 {
    font-weight: 600;
    font-size: 100px;
    text-transform: uppercase;
}

.first-row-body {
    margin-top: 50px !important;
}

.first-row-body .card {
  max-width: 120vh !important;
}

.card-body p {
    color: gray !important;
}

.card-body h6 {
    color: black !important;
    font-weight: 600;
}

ul {
    list-style-type:circle;
}

ul li {
    color: black !important;
}

.card-body p span{
    color: gray !important;
    font-weight: 600;
    font-size: 15px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .first-row-header h1 {
        font-weight: 400;
        font-size: 26px;
        text-transform: uppercase;
    }
 p {
        color: gray !important;
        font-size: 12px;
    }
    
    .card-body h6 {
        color: black !important;
        font-weight: 600;
    }
    
}

@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .first-row-header h1 {
        font-weight: 400;
        font-size: 26px;
        text-transform: uppercase;
    }
   p {
        color: gray !important;
        font-size: 16px;
    }
    
    .card-body h6 {
        color: black !important;
        font-weight: 500;
    }
 }