<div class="container">
    <div class="first-row">
        <div class="first-row-header d-flex justify-content-center">
    <h1 class="text-center">Trading Platform</h1>
        </div>
        <div class="first-row-body d-flex justify-content-center">
            <div class="card ">
                <div class="card-body px-5 py-5 ">
           <p> Get that trading edge that successful traders seek out. 
               The rich functionality of our online browser-based trading platform is both customizable and user-friendly. 
               We designed it to enhance any traders’ performance and trading experience.<br><br>


               Beograd Investment Capital’s trading platform has been optimized to make it fast and flexible.
             Because it’s web-based, you can trade from any computer, laptop or mobile device on the go. 
             It offers a variety of analytical tools and trading functions that suit both beginners and experienced traders. 
            It handles advanced trading strategies as well as simpler ones.<br><br>
            
            
            With our platform, trading a vast choice of markets is instant and straightforward. 
            Its advanced order management options and sophisticated charting capability enable you to open position quickly and manage your trades effectively and easily.</p>
               <h6>Enjoy the superb trading experience our platform delivers</h6>
                   <ul>
                       <li><p><span>Simple to start trading</span> <br>Just navigate to our URL in your browser, log in and trade immediately. Nothing could be simpler.</p></li>
                       <li><p><span>Light footprint</span> <br>Beograd Investment Capital’s trading platform does not use many of your device’s resources, so it doesn’t slow it down or disrupt your other activities.</p></li>
                       <li><p><span>Broad variety of markets</span><br>With your favorite browser you can trade on many markets, such as Forex, Indices and Stocks.</p></li>
                       <li><p><span>Trade in real time</span><br>Market fluctuations are instantly sent to your browser to maximize the wealth of opportunities at your fingertips.</p></li>
                       <li><p><span>Full array of trading tools</span><br>Our platform’s rich functionality includes technical analysis tools and enhanced charting options that help you to successfully build your own strategies.</p></li>
                       <li><p><span>Personal data is secured by encryption</span><br>No outsider can view or interfere with your private information or financial transactions. Everything is securely protected using powerful 128-bit modern encryption technology.</p></li>
                       <li><p><span>19 Languages</span><br>Traders across the globe will enjoy using logo’s trading platform and environment because of its wide multilingual appeal.</p></li>
                   </ul>
                </div>

            </div>

        </div>

    </div>
</div>

