<ngx-spinner bdColor="rgba(51,51,51,0.8)" [fullScreen]="false" type="ball-spin-clockwise" size="small">
    <p style="font-size: 20px; color: white">Verifying...</p>
  </ngx-spinner>
<div class="container">
    <div class="page-body mx-5 ">
        <div class="page-body-image d-flex justify-content-center ">
             <img src="/assets/images/verify-image.svg" height="350px" width="350px" alt="image"  />
        </div>
        <div class="verify-email mt-5 d-flex justify-content-center ">
            <h2>Verify Your Email</h2>   
        </div>
        <div class="verify-email d-flex justify-content-center ">
        <h6> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
    </div>
    <div class="d-flex justify-content-center ">
        <div id="form">
            <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
            <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
            <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
            <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
    
          </div>
    </div>
    <div class="d-flex justify-content-center my-3 mt-4">
        <button type="submit" class="btn d-flex justify-content-center px-5">Continue</button>
    </div>
    <div class="verify-email d-flex justify-content-center ">
        <a>Resend Email</a>
    </div>
    </div>
</div>
