<div class="container">
    <div class="first-row">
        <div class="first-row-header d-flex justify-content-center">
    <h1 class="text-center">Trading steps</h1>
        </div>
        <div class="first-row-body d-flex justify-content-center">
            <div class="card ">
                <div class="card-body px-5 py-5 ">
           <p>Online trading is the truly modern way for traders to invest in a whole range of financial markets and instruments. 
               Traders can access almost every global financial market from the comfort of their armchairs or desks at home. 
               Here we assess the benefits that online trading offers, what markets can be accessed and what instruments can be traded in them, 
               pointers about online trading in general, 
               and just how you can go about getting started.</p><br>
               <h6>The benefits of Technical Analysis</h6>
               <p>It simply means using the Internet from your computer or device for trading. 
                   Investors and traders buy and sell asset classes (such as Forex currencies) using a browser-based trading platform made available by a broker or a financial institution. 
                   Trading actions are initiated on that platform and immediately transmitted over the Internet to the broker.</p><br>
                    <p>Faster broadband speeds and Internet connectivity, 
                        as well as cheaper and more powerful computers and devices, have triggered the recent explosion in online trading.
                    </p>
                    <ul>
                        <li><p>The Internet is now everywhere, especially with the advent of faster mobile carrier bandwidth. People use it from any location for <br>everything from buying groceries to online trading.</p></li>
                        <li><p>Computers have become both cheaper and more powerful – doubling in power every two years according to Moore’s Law. That <br>facilitates trading analysis and execution.</p></li>
                    </ul><br>
                    <p>Those are two of the primary drivers that facilitated the rapid take-up of online trading. 
                        Access to financial markets is now open to far more ordinary individuals than ever before. 
                        This is a growing trend that will only continue to expand because 1.7 billion mobile phone users are locked out of the financial system. 
                        Before the Internet, trading depended on phoning, 
                        faxing and telegrams to brokers. Next, we will examine the many benefits of online trading.</p><br>
                   <h6>Online Trading – the Benefits</h6>
                   <ul>
                    <li><p>Trading fees per transaction are much lower online than when using the phone</p></li>
                    <li><p>Execution speed is now instant</p></li>
                    <li><p>You have access to a much wider range of financial instruments and markets</p></li>
                    <li><p>While you have Internet connectivity from your computer or device, the platform will always execute your orders</p></li>
                    <li><p>Far more tools and indicators are available to online traders</p></li>
                    <li><p>The amount of manual calculation has fallen dramatically because these tools do most of the work</p></li>
                    <li><p>Simple things like trend lines on a chart can be drawn with a couple of clicks</p></li>
                    <li><p>Manipulating chart objects like lines and indicators is the work of a second or two</p></li>
                    <li><p>There is a wealth of trading aids available online on a huge number of websites, such as trading courses, education, trading<br>
                        services, news and analysis.</p></li>
                </ul>
                <p>Not only is trading far easier in the Internet age but the quality and usability of tools, analysis techniques, 
                    charting and indicators have improved significantly. Gone are the days when traders used pencil and paper to construct charts. 
                    Even computers themselves still required traders to calculate things like indicator levels. 
                    The Internet changed all that and made the entire process simpler, faster and more accessible.</p>
                </div>

            </div>

        </div>

    </div>
 
</div>


