<div class="body ">
<app-header></app-header>
  <div class="container">
    <!-- First Row designs -->
    <!-- <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker> -->
    <div class="first-row d-flex justify-content-center">
    <div class="first-row-word col-8 col-md-8 col-sm-8 col-xl-8 col-lg-8 mt-4">
      <h5 class="mt-3 text-center">Trade stocks from the</h5>
      <h2 class="mt-3 text-center">Comfort of your home</h2>
      <p class="mt-3 text-center">Providing the best resources and technological
        platform to help traders perform better in the 
        stock, forex, bonds and index market
      </p>
      <div class="first-row-word-button d-flex justify-content-center">
        <button class="btn  mt-4" routerLink="/auth/auth-login">
         Get Started
        </button>
      </div>

    </div>
    <!-- <div class="first-row-image">
    <img src="/assets/images/first-row.png" width="600px" height="400px" alt="image"/>
    </div> -->
    </div>

    <!-- <div class="first-row-one">
      <div class="first-row-word-one  mt-4">
        <h5 class="mt-3 text-center">Trade stocks from the</h5>
        <h2 class="mt-n3 text-center">Comfort of your home</h2>
        <div class="d-flex justify-content-center">
        <p class="mt-3 text-center ">Providing the best resources and technological
          platform to help traders perform better in the 
          stock, forex, bonds and index market
        </p>
      </div>
        <div class="first-row-word-button d-flex justify-content-center">
          <button class="btn  mt-4" routerLink="/auth/auth-login">
           Get Started
          </button>
        </div>
      </div>
      <div class="first-row-image d-flex justify-content-center">
      <img src="/assets/images/first-row.png" width="350px" height="300px" alt="image"/>
      </div>
      </div> -->
  </div>

     <!-- First Row designs -->

     <!-- carousel designs -->

     <div class="carousel-row">
       
 
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container" style="height: 300px;">
          <div class="tradingview-widget-container__widget" #containerDiv></div>

      </div>
</div>
     <!-- carousel designs -->

    

     <div class="container">
       <!-- second row -->

       <div class="second-row d-flex justify-content-between">
          <div class="second-row-image">
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget" #containerDiv1></div>
              </div>
          </div>
          <div class="second-row-word col-5 col-md-5 col-sm-5 col-xl-5 col-lg-5">
            <h2 >
Over 400 Trading Assets
            </h2>
            <h2 class="mt-3">
              Available For Trading
            </h2>
            <p class="mt-3">
             With capability to trade on even less known
             indices, commodities and bonds, we give our
             traders a plethora of options 
            </p>
            <div class="second-row-word-button d-flex justify-content-center">
              <button class="btn mt-4" routerLink="/auth/auth-login">
               Get Started
              </button>
            </div>
          </div>
       </div>

        <!-- second row -->

        <!-- third row -->

        <div class="third-row d-flex justify-content-center">
          <div class="third-row-word">
            <h2 class="d-flex justify-content-center text-center">Why Trade With Us</h2>
            <p class="mt-4 d-flex justify-content-center text-center">
              We have created a secure, fast and powerful technology that makes trading easy and
              efficient for even beginners. With our limitless educational resources and analytical tools,
              our users are constantly walked through
              and advised by inhouse experts on their trades
            </p>
          </div>

        </div>

        <!-- third row -->

        <!-- fourth row -->

        <div class="fourth-row d-flex justify-content-center ">
          <div class="fourth-row-word col-12">
            <div class="fourth-row-word-first-row d-flex justify-content-between">
              <div class="fourth-row-word-first-row-body">
                <div class="fourth-circle-widget d-flex justify-content-center">
                  <i class="fa fa-check-circle-o icons justify-content-center" aria-hidden="true"></i>
                </div>
                <h3 class="d-flex justify-content-center mt-3 text-center">Secure Trading</h3>
                <p class="mt-4 d-flex justify-content-center text-center"></p>
              </div>
              <div class="fourth-row-word-first-row-body">
                <div class="fourth-circle-widget d-flex justify-content-center">
                  <i class="fa fa-lightbulb-o icons"  aria-hidden="true"></i>
                </div>
                <h3 class="d-flex justify-content-center mt-3">Multiple Assets</h3>
                <p class="mt-4 d-flex justify-content-center text-center"></p>
              </div>
              <div class="fourth-row-word-first-row-body">
                <div class="fourth-circle-widget d-flex justify-content-center">
                  <i class="fa fa-desktop icons"  aria-hidden="true"></i>
                </div>
                <h3 class="d-flex justify-content-center mt-3 text-center">Educational resources</h3>
                <p class="mt-4 d-flex justify-content-center text-center"></p>
              </div>
              <div class="fourth-row-word-first-row-body">
                <div class="fourth-circle-widget d-flex justify-content-center">
                  <i class="fa fa-calendar icons" aria-hidden="true"></i>
                </div>
                <h3 class="d-flex justify-content-center mt-3 text-center">Analytical Tools</h3>
                <p class="mt-4 d-flex justify-content-center text-center"></p>
              </div>
            </div>
            <div class="fourth-row-word-button mt-5 d-flex justify-content-center">
              <button class="btn">Get Started</button>
            </div>

          </div>
          <!-- <div class="fourth-row-image ">
            <img src="/assets/images/fourth-row.png" class="" width="590px" height="390px" alt="image"/>
          </div> -->

        </div>


        <!-- fourth row -->

        <!-- fifth row -->
       
         <!-- fifth row -->

         <!-- sixth row -->

         <!-- sixth row -->

     </div>

     <!-- sixth row -->

     <!-- <div class="container-fluid p-0">
       <div class="sixth-row pb-5">
         <div class="sixth-row-header d-flex justify-content-center pt-5">
       <h2 class="text-center">Trading With Us</h2>
         </div>
         <div class="sixth-row-body d-flex justify-content-around mt-5 pt-4">
          <div class="sixth-row-image">
            <img src="/assets/images/sixth-row.png" class="" width="730px" height="420px" alt="image"/>
          </div>
          <div class="sixth-row-word col-4 mt-5 pt-5">
            <h3>MT4 Trading Platform</h3>
            <p>You have the choice to trade the global markets
              from any of our easily accessible trading platforms
              including MetaTrader 4 and MetaTrader 5. For those
              who like to trade Forex, Indices, Commodities, and
              Share CFDs on the go, you can select from our mobile and
              web versions of MT4 and MT5.
            </p>
               <div class="sixth-row-word-button mt-5">
              <button class="btn py-3" routerLink="/mt4">About MT4</button>
               </div>
          </div>
         </div>

       </div>

      </div> -->

         <!-- sixth row -->

         

         <div class="container">

           <!-- seven row -->

           <div class="seven-row">
             <div class="seven-row-header d-flex justify-content-center">
            <h2 class="text-center">Get Started In 3 Steps</h2>
             </div>
             <div class="seven-row-body d-flex justify-content-around mt-5">
               <div class="card">
                 <div class="card-body seven-row-body-word">
                   <div class=" d-flex justify-content-center mt-3">
                    <img src="/assets/images/Account.svg" width="200px" height="100px" alt="image"/>
                   </div>
                 <h2 class=" d-flex justify-content-center mt-3">Create Account</h2>
                 <p class="d-flex justify-content-center text-center mt-4">Click on the Get started or Signup button and fill the form</p>
                 </div>

               </div>
               <div class="card">
                <div class="card-body seven-row-body-word">
                  <div class=" d-flex justify-content-center mt-3">
                    <img src="/assets/images/Cash.svg" width="200px" height="100px" alt="image"/>
                  </div>
                <h2 class=" d-flex justify-content-center mt-3">Fund Wallet</h2>
                <p class="d-flex justify-content-center text-center mt-4">
                  Fund your account by choosing any of our account types 
                  and depositing the required sum
                </p>
                </div>

              </div>
              <div class="card">
                <div class="card-body seven-row-body-word">
                  <div class=" d-flex justify-content-center mt-3">
                    <img src="/assets/images/sales.svg" width="200px" height="100px" alt="image"/>
                  </div>
                <h2 class=" d-flex justify-content-center mt-3">Start Trading</h2>
                <p class="d-flex justify-content-center text-center mt-4">Get access to our trading platform and start trading!</p>
                </div>

              </div>


             </div>

             <div class="seven-row-button d-flex justify-content-center mt-5">
             <button class="btn py-3" routerLink="/auth/auth-login">Get Started</button>
             </div>

           </div>

           <!-- seven row -->

           <!-- eight row -->


       


            <!-- nine row -->
            <!-- <div class="nine-row">
              <div class="nine-row-header">
                <h2 class="d-flex justify-content-center">We Accept</h2>
              </div>
              <div class="d-flex justify-content-between mt-5">
                <img src="/assets/images/local.png" class="m-0" width="220px" height="150px" alt="image"/>
                <img src="/assets/images/global.png" class="m-0" width="220px" height="150px" alt="image"/>
                <img src="/assets/images/skrill.png" class="m-0" width="220px" height="150px" alt="image"/>
                <img src="/assets/images/neteller.png" class="m-0" width="220px" height="150px" alt="image"/>
                <img src="/assets/images/visa.png" class="m-0" width="220px" height="150px" alt="image"/>
              </div>
              <div class="d-flex justify-content-between mt-3">
                <img src="/assets/images/master.png" class="m-0" width="220px" height="150px" alt="image"/>
                <img src="/assets/images/paypal.png" class="m-0" width="220px" height="150px" alt="image"/>
                <img src="/assets/images/tether.png" class="m-0" width="220px" height="150px" alt="image"/>
                <img src="/assets/images/wallet.png" class="m-0" width="220px" height="150px" alt="image"/>
                <img src="/assets/images/unionpay.png" class="m-0" width="220px" height="150px" alt="image"/>
              </div>

            </div> -->

            <!-- nine row -->

         </div>

         <div class="container-fluid p-0">
          <div class="sixth-row pb-5">
            <div class="sixth-row-header d-flex justify-content-center pt-5">
          <h2>We Accept</h2>
            </div>
            <!-- <div class="d-flex justify-content-between mt-5">
              <img src="/assets/images/local.png" class="m-0" width="220px" height="150px" alt="image"/>
              <img src="/assets/images/global.png" class="m-0" width="220px" height="150px" alt="image"/>
              <img src="/assets/images/skrill.png" class="m-0" width="220px" height="150px" alt="image"/>
              <img src="/assets/images/neteller.png" class="m-0" width="220px" height="150px" alt="image"/>
              <img src="/assets/images/visa.png" class="m-0" width="220px" height="150px" alt="image"/>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <img src="/assets/images/master.png" class="m-0" width="220px" height="150px" alt="image"/>
              <img src="/assets/images/paypal.png" class="m-0" width="220px" height="150px" alt="image"/>
              <img src="/assets/images/tether.png" class="m-0" width="220px" height="150px" alt="image"/>
              <img src="/assets/images/wallet.png" class="m-0" width="220px" height="150px" alt="image"/>
              <img src="/assets/images/unionpay.png" class="m-0" width="220px" height="150px" alt="image"/>
            </div> -->

            <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
              <!-- <ng-template pTemplate="header">
                  <h5>Circular, AutoPlay, 3 Items per Page and Scroll by 1</h5>
              </ng-template> -->
              <ng-template let-product pTemplate="item">
                  <div class="product-item">
                      <div class="product-item-content">
                          <div class="p-mb-3">
                          </div>
                          <div>
                            <img [src]="product.name" class="m-0" width="220px" height="150px" alt="image"/>
                          
                          </div>
                      </div>
                  </div>
              </ng-template>
              
          </p-carousel>
   
          </div>
   
         </div>
       <app-footer></app-footer>
        

          

  
</div>
