.body {
  min-height: 100vh;
  background: linear-gradient(90deg, #0D0D21 0%, #13134A 48.44%, #13136D 100%);
  color: #ffffff !important;

}

.first-row-one {
  display: none;
}

.first-row {
  margin-top: 200px !important;
  p{
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
  }
}

.first-row-word h5{
  font-size: 34px;
  font-family: 'gilroy', sans-serif;
}

.first-row-word h2{
  font-size: 38px;
  font-weight: 600;
  font-family: 'gilroy', sans-serif;
}

.first-row-word-button button {
  background: #312085;
  color: #ffffff;
  width: 280px !important;
  padding: 13px !important;
  font-size: larger;
  // font-weight: 600;
}

.carousel-row {
background: #ffffff;
height: 46px;
margin-top: 12em;
}

.second-row{
  margin-top: 200px !important;
  p{
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
  }
}

.second-row-word{
  margin-top: 137.5px !important;
}

.second-row-word h2{
  font-size: 38px !important;
  font-weight: 600 !important;
  font-family: 'gilroy', sans-serif;
}

.second-row-word-button button {
   border: 2px #312085 solid ;
  color: #ffffff;
  width: 230px !important;
  padding: 13px !important;
  font-size: larger;
  // font-weight: 600;
}

.third-row{
  margin-top: 200px !important;
}

.third-row-word{
  padding: 0 100px 0 !important;
  h2{
    font-size: 38px !important;
    font-weight: 600 !important;
    font-family: 'gilroy', sans-serif;
  }

  h6{
    font-weight: 400 !important;
    font-size: 14px !important;
    font-family: 'gilroy', sans-serif;
  }
  p{
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
  }

}

.fourth-row {
  margin-top: 100px !important;
}

.fourth-circle-widget{
  height: 100px !important;
  width: 100px !important;
  background: #ffffff !important;
  border-radius: 50% !important;
  margin: 0 auto !important;
}

.fourth-row-word-button button {
  background: #312085;
  color: #ffffff;
  width: 280px !important;
  padding: 13px !important;
  font-size: larger;
  // font-weight: 600;
}

.icons {
  color: #0000009e;
  font-size: 40px;
  margin-top: 30px;
}


.fourth-row-word-first-row-body h3 {
font-size: 16px !important;
font-weight: 600;
font-family: 'gilroy', sans-serif;
}

.fourth-row-word-first-row-body p{
  font-size: 12px !important;
}

.fifth-row{
  margin-top: 200px !important;
}

.fifth-row-header h2{
  font-size: 38px !important;
  font-weight: 600 !important;
  font-family: 'gilroy', sans-serif;
}

.page-body-1 {
  display: flex;
  justify-content: center;

}

.col-3 {
  // max-width: 290px !important;
}

.card {
    background-color: #ffffff !important;
    border-radius: 7px !important;
    color: black;

}

.card-body h3 {
    font-weight: 600 !important;
    color: #2CD67C;
    font-family: 'gilroy', sans-serif;
    font-size: 38px;
}

.card-body p {
    font-size: 13px;
    font-weight: 500 !important;
}
.cursor {
  cursor: pointer;

}
h6 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'gilroy', sans-serif;
}


.invest button {
    background-color: #312085;
    color: #FFFFFF;
    font-size: 14px;
    width: 110px;

}

.sixth-row {
  margin-top: 200px !important;
  background-color: #ffffff;
  width: 100%;
}

.sixth-row-header h2 {
  font-size: 38px !important;
  font-weight: 600 !important;
  font-family: 'gilroy', sans-serif;
  color: black !important;
}

.sixth-row-word {
  color: black !important;
  p{
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
  }
}

.ab{
  list-style-type: none;
  text-decoration: none;
  font-size: 12px;
}

.sixth-row-word h3 {
  font-weight: 600;
  font-size: 38px;
  font-family: 'gilroy', sans-serif;
}

.sixth-row-word-button button {
  color: black;
  border: 1px solid #312085;
  font-size: 16px;
  // font-weight: 600;
  width: 160px;
}

.seven-row {
  margin-top: 200px !important;
}

.seven-row-header h2 {
  font-size: 38px !important;
  font-weight: 600 !important;
  font-family: 'gilroy', sans-serif;
}


.seven-row-body .card {
  max-width: 300px !important;
}

.seven-row-body-word h2 {
  font-size: 32px !important;
  font-weight: 600 !important;
  font-family: 'gilroy', sans-serif;
}

.seven-row-body-word p {
  font-size: 15px !important;
  font-weight: 500 !important;
}

.seven-row-button button {
  background-color: #312085;
  color: #FFFFFF;
  font-size: 16px;
  // font-weight: 600 !important;
  letter-spacing: 1px;
  width: 250px;
}

.eight-row {
  margin-top: 200px !important;
}

.eight-row-header h2 {
  font-size: 38px !important;
  font-weight: 500 !important;
  font-family: 'gilroy', sans-serif;
}
.page-body, .d{
  display: none;
}
  
.eight-row-header p {
  font-size: 14px !important;
  padding: 0 150px 0 !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}


.eight-row-body .card {
  max-width: 250px !important;
}

.eight-row-body-word p {
  font-size: 12px;
  font-weight: 600 !important;
}

.eight-row-more p {
  font-size: 13px;
}

.nine-row {
  margin-top: 200px !important;
}

.product-item {
  .product-item-content {
      // border: 1px solid var(--surface-d);
      // border-radius: 3px;
      margin: .3rem;
      text-align: center;
      padding: 2rem 0;
      color: black;
  }

  // .product-image {
  //     width: 50%;
  //     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  // }
}
p-carousel-dot-item{
  display: none;
}
p-carousel-dot-icon {
  display: none;
}

.award-row {
  // width: 300vh !important;
  margin-top: 200px !important;
  h2 {
    font-size: 38px !important;
    font-weight: 500 !important;
    font-family: 'gilroy', sans-serif;
  }

  p {
    margin-bottom: 30px;
  }
  span{
    font-size: 13px;
    color: grey;
   
  }
}



.nine-row-header h2 {
  font-size: 38px !important;
  font-weight: 600 !important;
  font-family: 'gilroy', sans-serif;
}



/* .ico {
  margin-top: 1.1px !important;
} */



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .page-body-1{
    display: none;
  }

  
.d {
  display: block;
}
    
.seven-row-body .card {
  max-width: 100% !important;
}
  
  .body {
    overflow: hidden !important;
    // min-height: 100vh;
    background: linear-gradient(90deg, #0D0D21 0%, #13134A 48.44%, #13136D 100%);
    color: #ffffff !important;
    min-width: 100% !important;
  }


  .first-row {
    display: none !important;
    // display: flex !important;
    // flex-direction: row !important;
  }

  .first-row-one {
    display: flex !important;
    flex-direction: column-reverse;
    margin-top: 8em !important;
    div p{
      font-size: 13px !important;
      // font-weight: 400 !important;
      line-height: 24px !important;
    }
  }
  
  .first-row-word-one h5{
    font-size: 20px;
    font-family: 'gilroy', sans-serif;
  }
  
  .first-row-word-one h2{
    font-size: 24px;
    font-weight: 600;
    font-family: 'gilroy', sans-serif;
  }

  .first-row-word-button button {
    background: #312085;
    color: #ffffff;
    width: 150px !important;
    padding: 10px !important;
    font-size: small;
    // font-weight: 600;
  }

  .first-row-image img {
  width: 250px !important;
  height: 200px !important;
  }

  .second-row{
    display: flex !important;
    flex-direction: column-reverse !important;
    margin-top: -1em !important;
    p{
      font-size: 12px !important;
      // font-weight: 400 !important;
      line-height: 24px !important;
      text-align: center !important;
    }
    
    // display: none !important;
  }
 
  .second-row-word{
    margin-top: 137.5px !important;
    width: 100% !important;
  }
  
  .second-row-word h2{
    font-size: 24px !important;
    font-weight: 600 !important;
    font-family: 'gilroy', sans-serif;
    text-align: center !important;
  }
  
  .second-row-word-button button {
    text-align: center !important;
     border: 2px #312085 solid ;
    color: #ffffff;
    width: 150px !important;
    padding: 10px !important;
    font-size: small;
    // width: 20em !important;
    // font-weight: 600;
  }


  .second-row-image {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    margin-top: 50px !important;
  }

  
.third-row-word{
  margin-top: -80px !important;
  padding: 0 50px 0 !important;
  h2{
    font-size: 24px !important;
    font-weight: 600 !important;
    font-family: 'gilroy', sans-serif;
  }

  h6{
    font-weight: 400 !important;
    font-size: 14px !important;
    font-family: 'gilroy', sans-serif;
  }
  p{
    font-size: 12px !important;
    // font-weight: 400 !important;
    line-height: 24px !important;
  }

}

.fourth-row {
  display: flex !important;
  // flex-direction: column-reverse !important;
  // margin-top: -1em !important;
  width: 100% !important;
}
.fourth-row-word-first-row {
  display: flex !important;
justify-content: center !important;
  width: 100% !important;
  flex-direction: column !important
}
.fourth-row-word{
  width: 100% !important;
}


.fourth-row-word-button button {
  background: #312085;
  color: #ffffff;
  width: 150px !important;
  padding: 10px !important;
  font-size: small;
  // font-weight: 600;
}

// .fourth-row-word-first-row-body {
//   display: flex !important;
//   justify-content: center !important;
// }

.fourth-row-word-button button{
  // width: 30em !important;
  // width: 20em !important;
}


.fifth-row {
  margin-top: 120px !important;
}
.page-body {
  display: flex !important;
  flex-direction: column !important;
 justify-content: center !important;
 width: 100% !important;
// x
margin-top: 5px !important;

}

.card {
    background-color: #ffffff !important;
    border-radius: 7px !important;
    color: black;

}

.card-body h3 {
    font-weight: 600 !important;
    color: #2CD67C;
    font-family: 'gilroy', sans-serif;
    font-size: 38px;
}

.col-3 {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
  margin-top: 10px !important;
}


.card-body {
  width: 15em !important;
  // s
}



.card-body .a  {
  font-size: 13px;
  font-weight: 500 !important;
  display: none !important;
}

h6 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'gilroy', sans-serif;
}


.invest button {
    background-color: #312085;
    color: #FFFFFF;
    font-size: 14px;
    width: 110px;

}

.sixth-row-body {
  display: flex !important;
  flex-direction: column !important;
  // width: 35em !important;
}

.sixth-row-word {
  text-align: center !important;
  width: 100% !important;
  // margin-bottom: 10px !important;
}

.sixth-row-image {
  display: flex !important;
  justify-content: center !important;
}


.sixth-row-header h2 {
  font-size: 24px !important;
  font-weight: 600 !important;
  font-family: 'gilroy', sans-serif;
  color: black !important;
}

.sixth-row-word {
  color: black !important;
  p{
    font-size: 12px !important;
    // font-weight: 400 !important;
    line-height: 24px !important;
  }
}

.sixth-row-word h3 {
  font-weight: 600;
  font-size: 22px;
  font-family: 'gilroy', sans-serif;
}

.sixth-row-word-button button {
  color: black;
  border: 1px solid #312085;
  font-size: 12px;
  // font-weight: 600;
  width: 150px;
}



.seven-row-header h2 {
  font-size: 24px !important;
  font-weight: 600 !important;
  font-family: 'gilroy', sans-serif;
}



.seven-row-body-word h2 {
  font-size: 24px !important;
  font-weight: 600 !important;
  font-family: 'gilroy', sans-serif;
}

.seven-row-body-word p {
  font-size: 12px !important;
  // font-weight: 500 !important;
}

.seven-row-button button {
  background-color: #312085;
  color: #FFFFFF;
  font-size: 12px;
  // font-weight: 600 !important;
  letter-spacing: 1px;
  width: 150px;
}


.eight-row-header h2 {
  font-size: 24px !important;
  font-weight: 500 !important;
  font-family: 'gilroy', sans-serif;
}

.eight-row-header p {
  font-size: 12px !important;
  padding: 0 150px 0 !important;
  // font-weight: 400 !important;
  line-height: 24px !important;
}


.award-row {
  // width: 300vh !important;
  margin-top: 200px !important;
  h2 {
    font-size: 24px !important;
    font-weight: 500 !important;
    font-family: 'gilroy', sans-serif;
  }

  p {
    margin-bottom: 30px;
  }
  span{
    font-size: 12px;
    color: grey;
   
  }
}



.nine-row-header h2 {
  font-size: 38px !important;
  font-weight: 600 !important;
  font-family: 'gilroy', sans-serif;
}



.eight-row-body-word p {
  font-size: 12px;
  // font-weight: 600 !important;
}

.eight-row-more p {
  font-size: 12px;
}

.sixth-row-image img {
 width: 300px !important;
 height: 200px !important;
}

.seven-row-body {
  display: flex !important;
  flex-direction: column !important;
  // width: 100em !important;
  // margin-left: 5.5em !important;
}
.seven-row-body-word {
  width: 100% !important;
}

.card {
margin-top: 30px !important;
}

.eight-row-header{
padding: 0 2px 0 2px !important;
}

.eight-row {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
}

.eight-row-body {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  // margin-left: 7em !important;
}

.card {
  max-width: 100% !important;
}


.eight-row-header h2 {
  font-size: 30px !important;
  font-weight: 500 !important;
  font-family: 'gilroy', sans-serif;
}

.eight-row-header p {
  font-size: 14px !important;
  padding: 0 50px 0 !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

.inside-image {
object-fit: cover !important;
}

.eight-row-body .card {
  max-width: 100% !important;
}

.eight-row-more p {
font-size: 16px !important;
}

.award-body {
  display: flex !important;
  width: 100% !important;
  flex-direction: column !important;
  margin-top: -5em !important;
}

.award-image {
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 10px !important;
}

.award-image img {
  width: 300px !important; 
  height: 300px !important
}
  
  // .first-row-word-button button {
  //   background: #312085;
  //   color: #ffffff;
  //   width: 280px !important;
  //   padding: 13px !important;
  //   font-size: larger;
  //   // font-weight: 600;
  // }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
  .d {
    display: block;
  }
  .page-body-1{
    display: none;
  }
    
.seven-row-body .card {
  max-width: 100% !important;
}
  
  .body {
    overflow: hidden !important;
    // min-height: 100vh;
    background: linear-gradient(90deg, #0D0D21 0%, #13134A 48.44%, #13136D 100%);
    color: #ffffff !important;
    min-width: 100% !important;
  }


  .first-row {
    display: none !important;
    // display: flex !important;
    // flex-direction: row !important;
  }

  .first-row-one {
    display: flex !important;
    flex-direction: column-reverse;
    margin-top: 8em !important;
    div p{
      font-size: 13px !important;
      // font-weight: 400 !important;
      line-height: 24px !important;
    }
  }
  
  .first-row-word-one h5{
    font-size: 20px;
    font-family: 'gilroy', sans-serif;
  }
  
  .first-row-word-one h2{
    font-size: 24px;
    font-weight: 600;
    font-family: 'gilroy', sans-serif;
  }

  .first-row-word-button button {
    background: #312085;
    color: #ffffff;
    width: 150px !important;
    padding: 10px !important;
    font-size: small;
    // font-weight: 600;
  }

  .first-row-image img {
  width: 250px !important;
  height: 200px !important;
  }

  .second-row{
    display: flex !important;
    flex-direction: column-reverse !important;
    margin-top: -1em !important;
    p{
      font-size: 12px !important;
      // font-weight: 400 !important;
      line-height: 24px !important;
      text-align: center !important;
    }
    
    // display: none !important;
  }
 
  .second-row-word{
    margin-top: 137.5px !important;
    width: 100% !important;
  }
  
  .second-row-word h2{
    font-size: 24px !important;
    font-weight: 600 !important;
    font-family: 'gilroy', sans-serif;
    text-align: center !important;
  }
  
  .second-row-word-button button {
    text-align: center !important;
     border: 2px #312085 solid ;
    color: #ffffff;
    width: 150px !important;
    padding: 10px !important;
    font-size: small;
    // width: 20em !important;
    // font-weight: 600;
  }


  .second-row-image {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    margin-top: 50px !important;
  }

  
.third-row-word{
  margin-top: -80px !important;
  padding: 0 50px 0 !important;
  h2{
    font-size: 24px !important;
    font-weight: 600 !important;
    font-family: 'gilroy', sans-serif;
  }

  h6{
    font-weight: 400 !important;
    font-size: 14px !important;
    font-family: 'gilroy', sans-serif;
  }
  p{
    font-size: 12px !important;
    // font-weight: 400 !important;
    line-height: 24px !important;
  }

}

.fourth-row {
  display: flex !important;
  // flex-direction: column-reverse !important;
  // margin-top: -1em !important;
  width: 100% !important;
}
.fourth-row-word-first-row {
  display: flex !important;
justify-content: center !important;
  width: 100% !important;
  flex-direction: column !important
}
.fourth-row-word{
  width: 100% !important;
}


.fourth-row-word-button button {
  background: #312085;
  color: #ffffff;
  width: 150px !important;
  padding: 10px !important;
  font-size: small;
  // font-weight: 600;
}

// .fourth-row-word-first-row-body {
//   display: flex !important;
//   justify-content: center !important;
// }

.fourth-row-word-button button{
  // width: 30em !important;
  // width: 20em !important;
}


.fifth-row {
  margin-top: 120px !important;
}
.page-body {
  display: flex !important;
  flex-direction: column !important;
 justify-content: center !important;
 width: 100% !important;
// x
margin-top: 5px !important;

}

.card {
    background-color: #ffffff !important;
    border-radius: 7px !important;
    color: black;

}

.card-body h3 {
    font-weight: 600 !important;
    color: #2CD67C;
    font-family: 'gilroy', sans-serif;
    font-size: 38px;
}

.col-3 {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
  margin-top: 10px !important;
}


.card-body {
  width: 15em !important;
  // s
}



.card-body .a  {
  font-size: 13px;
  font-weight: 500 !important;
  display: none !important;
}

h6 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'gilroy', sans-serif;
}


.invest button {
    background-color: #312085;
    color: #FFFFFF;
    font-size: 14px;
    width: 110px;

}

.sixth-row-body {
  display: flex !important;
  flex-direction: column !important;
  // width: 35em !important;
}

.sixth-row-word {
  text-align: center !important;
  width: 100% !important;
  // margin-bottom: 10px !important;
}

.sixth-row-image {
  display: flex !important;
  justify-content: center !important;
}


.sixth-row-header h2 {
  font-size: 24px !important;
  font-weight: 600 !important;
  font-family: 'gilroy', sans-serif;
  color: black !important;
}

.sixth-row-word {
  color: black !important;
  p{
    font-size: 12px !important;
    // font-weight: 400 !important;
    line-height: 24px !important;
  }
}

.sixth-row-word h3 {
  font-weight: 600;
  font-size: 22px;
  font-family: 'gilroy', sans-serif;
}

.sixth-row-word-button button {
  color: black;
  border: 1px solid #312085;
  font-size: 12px;
  // font-weight: 600;
  width: 150px;
}



.seven-row-header h2 {
  font-size: 24px !important;
  font-weight: 600 !important;
  font-family: 'gilroy', sans-serif;
}



.seven-row-body-word h2 {
  font-size: 24px !important;
  font-weight: 600 !important;
  font-family: 'gilroy', sans-serif;
}

.seven-row-body-word p {
  font-size: 12px !important;
  // font-weight: 500 !important;
}

.seven-row-button button {
  background-color: #312085;
  color: #FFFFFF;
  font-size: 12px;
  // font-weight: 600 !important;
  letter-spacing: 1px;
  width: 150px;
}


.eight-row-header h2 {
  font-size: 24px !important;
  font-weight: 500 !important;
  font-family: 'gilroy', sans-serif;
}

.eight-row-header p {
  font-size: 12px !important;
  padding: 0 150px 0 !important;
  // font-weight: 400 !important;
  line-height: 24px !important;
}


.award-row {
  // width: 300vh !important;
  margin-top: 200px !important;
  h2 {
    font-size: 24px !important;
    font-weight: 500 !important;
    font-family: 'gilroy', sans-serif;
  }

  p {
    margin-bottom: 30px;
  }
  span{
    font-size: 12px;
    color: grey;
   
  }
}



.nine-row-header h2 {
  font-size: 38px !important;
  font-weight: 600 !important;
  font-family: 'gilroy', sans-serif;
}



.eight-row-body-word p {
  font-size: 12px;
  // font-weight: 600 !important;
}

.eight-row-more p {
  font-size: 12px;
}

.sixth-row-image img {
 width: 300px !important;
 height: 200px !important;
}

.seven-row-body {
  display: flex !important;
  flex-direction: column !important;
  // width: 100em !important;
  // margin-left: 5.5em !important;
}
.seven-row-body-word {
  width: 100% !important;
}

.card {
margin-top: 30px !important;
}

.eight-row-header{
padding: 0 2px 0 2px !important;
}

.eight-row {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
}

.eight-row-body {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  // margin-left: 7em !important;
}

.card {
  max-width: 100% !important;
}


.eight-row-header h2 {
  font-size: 30px !important;
  font-weight: 500 !important;
  font-family: 'gilroy', sans-serif;
}

.eight-row-header p {
  font-size: 14px !important;
  padding: 0 50px 0 !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

.inside-image {
object-fit: cover !important;
}

.eight-row-body .card {
  max-width: 100% !important;
}

.eight-row-more p {
font-size: 16px !important;
}

.award-body {
  display: flex !important;
  width: 100% !important;
  flex-direction: column !important;
  margin-top: -5em !important;
}

.award-image {
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 10px !important;
}

.award-image img {
  width: 300px !important; 
  height: 300px !important
}
.page-body-1{
  display: none;
}
  
  
  }

  @media only screen and (min-device-width : 481px) and (max-device-width : 767px) { 
  /* Styles */
  .page-body-1{
    display: none;
  }
  .d {
    display: block;
  }
    
  .seven-row-body .card {
    max-width: 100% !important;
  }
    
    .body {
      overflow: hidden !important;
      // min-height: 100vh;
      background: linear-gradient(90deg, #0D0D21 0%, #13134A 48.44%, #13136D 100%);
      color: #ffffff !important;
      min-width: 100% !important;
    }
  
  
    .first-row {
      display: none !important;
      // display: flex !important;
      // flex-direction: row !important;
    }
  
    .first-row-one {
      display: flex !important;
      flex-direction: column-reverse;
      margin-top: 8em !important;
      div p{
        font-size: 13px !important;
        // font-weight: 400 !important;
        line-height: 24px !important;
      }
    }
    
    .first-row-word-one h5{
      font-size: 20px;
      font-family: 'gilroy', sans-serif;
    }
    
    .first-row-word-one h2{
      font-size: 24px;
      font-weight: 600;
      font-family: 'gilroy', sans-serif;
    }
  
    .first-row-word-button button {
      background: #312085;
      color: #ffffff;
      width: 150px !important;
      padding: 10px !important;
      font-size: small;
      // font-weight: 600;
    }
  
    .first-row-image img {
    width: 250px !important;
    height: 200px !important;
    }
  
    .second-row{
      display: flex !important;
      flex-direction: column-reverse !important;
      margin-top: -1em !important;
      p{
        font-size: 12px !important;
        // font-weight: 400 !important;
        line-height: 24px !important;
        text-align: center !important;
      }
      
      // display: none !important;
    }
   
    .second-row-word{
      margin-top: 137.5px !important;
      width: 100% !important;
    }
    
    .second-row-word h2{
      font-size: 24px !important;
      font-weight: 600 !important;
      font-family: 'gilroy', sans-serif;
      text-align: center !important;
    }
    
    .second-row-word-button button {
      text-align: center !important;
       border: 2px #312085 solid ;
      color: #ffffff;
      width: 150px !important;
      padding: 10px !important;
      font-size: small;
      // width: 20em !important;
      // font-weight: 600;
    }
  
  
    .second-row-image {
      display: flex !important;
      justify-content: center !important;
      width: 100% !important;
      margin-top: 50px !important;
    }
  
    
  .third-row-word{
    margin-top: -80px !important;
    padding: 0 50px 0 !important;
    h2{
      font-size: 24px !important;
      font-weight: 600 !important;
      font-family: 'gilroy', sans-serif;
    }
  
    h6{
      font-weight: 400 !important;
      font-size: 14px !important;
      font-family: 'gilroy', sans-serif;
    }
    p{
      font-size: 12px !important;
      // font-weight: 400 !important;
      line-height: 24px !important;
    }
  
  }
  
  .fourth-row {
    display: flex !important;
    // flex-direction: column-reverse !important;
    // margin-top: -1em !important;
    width: 100% !important;
  }
  .fourth-row-word-first-row {
    display: flex !important;
  justify-content: center !important;
    width: 100% !important;
    flex-direction: column !important
  }
  .fourth-row-word{
    width: 100% !important;
  }
  
  
  .fourth-row-word-button button {
    background: #312085;
    color: #ffffff;
    width: 150px !important;
    padding: 10px !important;
    font-size: small;
    // font-weight: 600;
  }
  
  // .fourth-row-word-first-row-body {
  //   display: flex !important;
  //   justify-content: center !important;
  // }
  
  .fourth-row-word-button button{
    // width: 30em !important;
    // width: 20em !important;
  }
  
  
  .fifth-row {
    margin-top: 120px !important;
  }
  .page-body {
    display: flex !important;
    flex-direction: column !important;
   justify-content: center !important;
   width: 100% !important;
  // x
  margin-top: 5px !important;
  
  }
  
  .card {
      background-color: #ffffff !important;
      border-radius: 7px !important;
      color: black;
  
  }
  
  .card-body h3 {
      font-weight: 600 !important;
      color: #2CD67C;
      font-family: 'gilroy', sans-serif;
      font-size: 38px;
  }
  
  .col-3 {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    margin-top: 10px !important;
  }
  
  
  .card-body {
    width: 15em !important;
    // s
  }
  
  
  
  .card-body .a  {
    font-size: 13px;
    font-weight: 500 !important;
    display: none !important;
  }
  
  h6 {
      font-size: 20px;
      font-weight: 500;
      font-family: 'gilroy', sans-serif;
  }
  
  
  .invest button {
      background-color: #312085;
      color: #FFFFFF;
      font-size: 14px;
      width: 110px;
  
  }
  
  .sixth-row-body {
    display: flex !important;
    flex-direction: column !important;
    // width: 35em !important;
  }
  
  .sixth-row-word {
    text-align: center !important;
    width: 100% !important;
    // margin-bottom: 10px !important;
  }
  
  .sixth-row-image {
    display: flex !important;
    justify-content: center !important;
  }
  
  
  .sixth-row-header h2 {
    font-size: 24px !important;
    font-weight: 600 !important;
    font-family: 'gilroy', sans-serif;
    color: black !important;
  }
  
  .sixth-row-word {
    color: black !important;
    p{
      font-size: 12px !important;
      // font-weight: 400 !important;
      line-height: 24px !important;
    }
  }
  
  .sixth-row-word h3 {
    font-weight: 600;
    font-size: 22px;
    font-family: 'gilroy', sans-serif;
  }
  
  .sixth-row-word-button button {
    color: black;
    border: 1px solid #312085;
    font-size: 12px;
    // font-weight: 600;
    width: 150px;
  }
  
  
  
  .seven-row-header h2 {
    font-size: 24px !important;
    font-weight: 600 !important;
    font-family: 'gilroy', sans-serif;
  }
  
  
  
  .seven-row-body-word h2 {
    font-size: 24px !important;
    font-weight: 600 !important;
    font-family: 'gilroy', sans-serif;
  }
  
  .seven-row-body-word p {
    font-size: 12px !important;
    // font-weight: 500 !important;
  }
  
  .seven-row-button button {
    background-color: #312085;
    color: #FFFFFF;
    font-size: 12px;
    // font-weight: 600 !important;
    letter-spacing: 1px;
    width: 150px;
  }
  
  
  .eight-row-header h2 {
    font-size: 24px !important;
    font-weight: 500 !important;
    font-family: 'gilroy', sans-serif;
  }
  
  .eight-row-header p {
    font-size: 12px !important;
    padding: 0 150px 0 !important;
    // font-weight: 400 !important;
    line-height: 24px !important;
  }
  
  
  .award-row {
    // width: 300vh !important;
    margin-top: 200px !important;
    h2 {
      font-size: 24px !important;
      font-weight: 500 !important;
      font-family: 'gilroy', sans-serif;
    }
  
    p {
      margin-bottom: 30px;
    }
    span{
      font-size: 12px;
      color: grey;
     
    }
  }
  
  
  
  .nine-row-header h2 {
    font-size: 38px !important;
    font-weight: 600 !important;
    font-family: 'gilroy', sans-serif;
  }
  
  
  
  .eight-row-body-word p {
    font-size: 12px;
    // font-weight: 600 !important;
  }
  
  .eight-row-more p {
    font-size: 12px;
  }
  
  .sixth-row-image img {
   width: 300px !important;
   height: 200px !important;
  }
  
  .seven-row-body {
    display: flex !important;
    flex-direction: column !important;
    // width: 100em !important;
    // margin-left: 5.5em !important;
  }
  .seven-row-body-word {
    width: 100% !important;
  }
  
  .card {
  margin-top: 30px !important;
  }
  
  .eight-row-header{
  padding: 0 2px 0 2px !important;
  }
  .d {
    display: block;
  }
  .eight-row {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
  }
  
  .eight-row-body {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    // margin-left: 7em !important;
  }
  
  .card {
    max-width: 100% !important;
  }
  
  
  .eight-row-header h2 {
    font-size: 30px !important;
    font-weight: 500 !important;
    font-family: 'gilroy', sans-serif;
  }
  
  .eight-row-header p {
    font-size: 14px !important;
    padding: 0 50px 0 !important;
    font-weight: 400 !important;
    line-height: 24px !important;
  }
  
  .inside-image {
  object-fit: cover !important;
  }
  
  .eight-row-body .card {
    max-width: 100% !important;
  }
  
  .eight-row-more p {
  font-size: 16px !important;
  }
  
  .award-body {
    display: flex !important;
    width: 100% !important;
    flex-direction: column !important;
    margin-top: -5em !important;
  }
  
  .award-image {
    display: flex !important;
    justify-content: center !important;
    margin-bottom: 10px !important;
  }
  
  .award-image img {
    width: 300px !important; 
    height: 300px !important
  }

  .page-body-1{
    display: none;
  }
    
  }


@media only screen and (max-height: 640px) {

  .first-row {
    margin-top: 60px !important;
  }
}

@media only screen and (max-height: 768px) {

  .first-row {
    margin-top: 90px !important;
  }
}