<div class="container-fluid p-0">
    <!-- ten row -->

    <div class="ten-row">
      <div class="ten-row-body d-flex justify-content-around pt-5">
        <div class="ten-row-word">
      <h6>Trade without any limitations, Open an account today and immediately start trading</h6>
        </div>
        <div class="ten-row-button">
<button class="btn py-3" routerLink="/auth/auth-login">Open An Account</button>
        </div>

      </div>

    </div>


    <!-- ten row -->
<!-- eleven row -->
    <div class="eleven-row">
      <div class="eleven-row-body d-flex justify-content-around pt-5">
        <div class="eleven-row-body-first d-flex justify-content-between">
         <a routerLink="/company/about-us"><h6 class="px-3">About us</h6></a> 
 
            <a routerLink="/education/glossary"> <h6 class="px-3">Glossary</h6></a> 
                <!-- <a routerLink="/education/faq"><h6 class="px-3">FAQ</h6></a>  -->
                    <a routerLink="/company/contact-us"><h6 class="px-3">Contact us</h6></a> 
        </div>
        <div class="d-flex justify-content-between eleven-row-img">
         <img src="/assets/images/fb.svg" class="m-0 px-4" width="80px" height="60px" alt="image"/>
         <img src="/assets/images/twitter.svg" class="m-0 px-4" width="80px" height="60px" alt="image"/>
         <img src="/assets/images/linkedin.svg" class="m-0 px-4" width="80px" height="60px" alt="image"/>
         <img src="/assets/images/telegram.svg" class="m-0 px-4" width="80px" height="60px" alt="image"/>
       </div>
      </div>
      <hr>
    <div class="eleven-row-body-two d-flex justify-content-around pt-5">
      <div class="eleven-row-body-two-first">
        <h6 class="text-center">Suite 306, Griffith Corporate Centre,</h6>
        <h6 class="text-center">Kingston, Saint Vincent and the Grenadines.</h6>
        
      </div>
      <div class="eleven-row-body-two-second mb-3">
      <h6 class="text-center">Subscribe To ur Newsletter</h6>
      <div class="eleven-row-body-two-twos d-flex justify-content-center mt-3">
        <!-- <input type="text" class="form-control " disabled> -->
        <a  class="btn py-2 mx-2" target="_blank" href="https://blog.beogradcapitalinvestment.com">Subscribe</a>
      </div>
      </div>

    </div>
    <div class="eleven-row-body-three d-flex justify-content-around mt-3">
      <div class="eleven-row-body-two-first">
     <h5 class="text-center">&copy; 2020 Site Ltd. All rights reserved.</h5>

      </div>
      <div class="eleven-row-body-two-second-1 d-flex justify-content-center ">
        <a class="mx-3" routerLink="/privacy-policy"><p>Privacy Policy</p></a>
        <a class="mx-3" routerLink="/terms-and-conditions"><p>Terms and Conditions</p></a>
      </div>
      
    </div>

    </div>
    <div class="nothing-row">
      <div class="d-flex justify-content-center">
        <a class="content text-center" href="https://idlecontent.com">Designed by idlecontent</a>
      </div> 

    </div>
    <!-- eleven row -->

    <!-- twelve row -->
    <div class="twelve-row">
      <div class="twelve-row-body d-flex justify-content-center mt-2 pt-5">
   <p class="text-center mx-5">
INFORMATION AND HIGH RISH WARNING: Trading with foreign 
exchange (FX), commodities carries a high level of risk that may
not be suitable for all investors. Leverage creates additional
risk and loss exposure. Before you decide to trade foreign exchange
or contact for differences, carefully consider your investment
objectives, experience level, and risk tolerance. Your total losses
can exceed the amount of your initial payment and you will have a 
full additional payment liability to cover all deficits on your
account every time.<br>
LEGAL DISCLAIMER: Forex trading entails significant
  risks and is not appropriate for all investors. The possibility
  of incurring substantial losses should be taken into account.
  It is therefore important to understand the possible consequences
  of investing. Traders should weigh their earning potential
  against the risks involved and act accordingly
   </p>

      </div>

    </div>

     <!-- twelve row -->

  </div>
