<div class="body ">
  <app-header></app-header>
  <div class="container">
    <div class="first-row">
        <div class="first-row-header d-flex justify-content-center">
    <h1 class="text-center" style="color: white; ">MetaTrader 4/5 </h1>
        </div>
        <div class="first-row-body d-flex justify-content-center">
            <div class="card ">
                <div class="card-body px-5 py-5 ">
                  MetaTrader 4 (MT4) platform is a popular trading platform allowing to perform trading operations and technical analysis on currency pairs of the Forex market and other financial instruments.Currency and CFD Trading Platform MetaTrader 4 offers different trading products. It is an advanced trading software that allows to trade all Major, Minor and Exotic Currency Pairs, Metals as well as Index, Stock and Commodity CFDs (Contracts for Difference). MetaTrader 4 Platform provides the following functions:

                  Fully-fledged technical analysis- large number of built in trading indicators and graphical objecst, possibility of writing own scripts, support of various time frames.
                  Automated trading based on the built in MetaQuotes Language 4 (programming language), allowing our clients to create their own trading programs (experts) and indicators
                  Secure access and placing of trading operations, as well as additional access for watching trading operations only.
                  Administration of local quotations history including import–export operations in the real time manner.
                  Signals Service - the trader has an opportunity to become a provider of trading signals and a subscriber to the trading signals. For more information about the service, you need to visit the site of the developer:
                  <a href="http://www.mql4.com">www.mql4.com.</a>
                </div>

            </div>

        </div>

    </div>
 
</div>
  <app-footer></app-footer>
  </div>
