

<div class="mt-3">
  <form class="mx-3" [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="form-group row my-4 ">
      <div class="form-group col-md-6" id="first">
        <label for="firstName" class="my-2">First Name</label>
        <input type="text" class="form-control form-control-lg"
               id="firstName"  formControlName="first_name" readonly>
        <!-- <div class="text-danger" *ngIf = "signupForm.get('first_name').invalid && (signupForm.get('first_name').touched || signupForm.get('first_name').dirty) ">
          <small *ngIf = "signupForm.get('first_name').errors?.required"> First name required</small>
        </div> -->
      </div>
      <div class="form-group col-md-6">
        <label for="lastName" class="my-2">Last Name</label>
        <input type="text" class="form-control form-control-lg"
               id="lastName" formControlName="last_name" readonly>
        <!-- <div class="text-danger" *ngIf = "signupForm.get('last_name').invalid &&  (signupForm.get('last_name').touched || signupForm.get('last_name').dirty) ">
          <small *ngIf = "signupForm.get('last_name').errors?.required"> Last name required</small>
        </div> -->
      </div>
    </div>
    <div class="form-group row my-4" >
        <div class="form-group col-md-6" id="email">
          <label for="email" class="my-2">Email</label>
          <input type="email" class="form-control form-control-lg"
                 id="email" formControlName="email" readonly>
          <!-- <div class="text-danger" *ngIf = "signupForm.get('email').invalid && (signupForm.get('email').touched || signupForm.get('email').dirty)">
            <small *ngIf = "signupForm.get('email').errors?.required"> Email required</small>
            <small *ngIf = "signupForm.get('email').errors?.pattern"> Please provide a valid email address</small>
          </div> -->
        </div>
        <div class="form-group col-md-6">
          <label for="phoneNumber" class="my-2">Phone Number</label>
          <input type="text" class="form-control form-control-lg"
                 id="phoneNumber" formControlName="phone_number" readonly>
          <!-- <div class="text-danger" *ngIf = "signupForm.get('last_name').invalid &&  (signupForm.get('last_name').touched || signupForm.get('last_name').dirty) ">
            <small *ngIf = "signupForm.get('last_name').errors?.required"> Last name required</small>
          </div> -->
        </div>
    </div>

    <div class="form-group row my-4">
      <div class="form-group col-md-6" >
        <label for="dateOfBirth" class="my-2">Date of Birth</label>
        <!-- <input type="date" class="form-control form-control-lg"
        id="dateOfBirth" [max]="2002-12-31"
       formControlName="date_of_birth"> -->
       <input 
       placeholder="DD/MM/YYYY"
       class="form-control form-control-lg"
       formControlName="date_of_birth"
       id="dateOfBirth"
       bsDatepicker
       [maxDate]="maxDate"
       [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD',containerClass: 'theme-dark-blue',  displayOneMonthRange: true }">
       
          <div class="text-danger" *ngIf = "form.get('date_of_birth').invalid &&  (form.get('date_of_birth').touched || form.get('date_of_birth').dirty) ">
            <small *ngIf = "form.get('date_of_birth').errors?.required"> 18 years of age required</small>
          </div>
    </div>

    <div class="form-group col-md-6">
      <label for="country" class="my-2">Country</label>
      <input type="text" class="form-control form-control-lg"
             id="country" formControlName="country" readonly>
      <!-- <div class="text-danger" *ngIf = "signupForm.get('last_name').invalid &&  (signupForm.get('last_name').touched || signupForm.get('last_name').dirty) ">
        <small *ngIf = "signupForm.get('last_name').errors?.required"> Last name required</small>
      </div> -->
    </div>

 
    </div>


    <div class="form-group row my-4 ">
      <div class="form-group col-md-6" id="first">
        <label for="city" class="my-2">City</label>
        <input type="text" class="form-control form-control-lg"
               id="city"  formControlName="city">
        <!-- <div class="text-danger" *ngIf = "signupForm.get('first_name').invalid && (signupForm.get('first_name').touched || signupForm.get('first_name').dirty) ">
          <small *ngIf = "signupForm.get('first_name').errors?.required"> First name required</small>
        </div> -->
      </div>

      <div class="form-group col-md-6" >
        <label for="citizenship" class="my-2">Citizenship</label>
        <input type="text" class="form-control form-control-lg"
               id="citizenship" formControlName="citizenship">
        <!-- <div class="text-danger" *ngIf = "signupForm.get('last_name').invalid &&  (signupForm.get('last_name').touched || signupForm.get('last_name').dirty) ">
          <small *ngIf = "signupForm.get('last_name').errors?.required"> Last name required</small>
        </div> -->
    </div>
  
    </div>

    <div class="form-group row my-4 ">
      <div class="form-group col-md-6" id="first">
        <label for="zipCode" class="my-2">Zip Code</label>
        <input type="text" class="form-control form-control-lg"
               id="zipCode"  formControlName="zip_code">
        <!-- <div class="text-danger" *ngIf = "signupForm.get('first_name').invalid && (signupForm.get('first_name').touched || signupForm.get('first_name').dirty) ">
          <small *ngIf = "signupForm.get('first_name').errors?.required"> First name required</small>
        </div> -->
      </div>
      <div class="form-group col-md-6">
        <label for="address" class="my-2">Address</label>
        <input type="text" class="form-control form-control-lg"
               id="address" formControlName="address">
        <!-- <div class="text-danger" *ngIf = "signupForm.get('last_name').invalid &&  (signupForm.get('last_name').touched || signupForm.get('last_name').dirty) ">
          <small *ngIf = "signupForm.get('last_name').errors?.required"> Last name required</small>
        </div> -->
      </div>
    </div>
    <div class="button d-flex justify-content-end mt-5">
<button class="btn py-3" type="submit" *ngIf="this.uploads.length === 0">Next</button>
<button class="btn py-3" type="submit" *ngIf="this.uploads.length > 0">Update</button>
    </div>
      </form>

</div>