<div class="container">
    <div class="first-row">
        <div class="first-row-header d-flex justify-content-center">
    <h1 class="text-center"> trading information</h1>
        </div>
        <div class="first-row-body d-flex justify-content-center">
            <div class="card ">
                <div class="card-body px-5 py-5 ">
                   <ul>
                       <li><p>All times are in GMT+2</p></li>
                       <li><p>Instant Execution (Fill or Kill) is applicable only for instruments with fixed spreads. We guarantee the price, but not execution. <br>That means, if the price has changed, your order won't be executed at a different price and you will get a requote.</p></li>
                       <li><p>Market Execution (Click & Deal) is applicable for all instruments that have a floating spread. This type guarantees you immediate <br>execution of your order but the price could change during the process of opening your position. If the price has changed, you<br>won't get any requotes and your order will be filled immediately at the new price.</p></li>
                       <li><p>The basic Leverage is 1:100. However, upon further request and choosing a different account type, we offer leverages up to 1:500. <br>For additional information see our Account Types page or contact your account manager.</p></li>
                       <li><p>Swaps are charged at the end of each trading day at 24:00 GMT+2; A 3-days swap is charged on Wednesday at 24:00 GMT+2</p></li>
                       <li><p>The swap value is according to the symbol's base currency – and is per day per lot at 24:00 GMT+2.</p></li>
                       <li><p>Exotic currency pairs trading could be limited during the trading sessions in case of extremely low volatility or a high one.</p></li>
                       <li><p>If you have opened a long stock position prior to the ex-dividend date, you will receive 80% of the dividend's net amount.</p></li>
                       <li><p>If you have opened a short stock position prior to the ex-dividend date, 100% of the dividend's net amount will be debited from <br>your balance.</p></li>
                       <li><p>When trading Futures, please note that if you have any open positions by the expiration date, they will be automatically closed <br>at the last received (closing) price.</p></li>
                       <li><p>Commission for every asset will vary and change, depending on the account type. Commissions will be anything from 0 up to<br>-100 EUR/GBP/USD per 1 lot invested depending on the account and terms and conditions for every client and account by itself.</p></li>
                       <li><p>A Stop-Out has been set at 0% (percent) for all clients of Grandefex in order to prevent a full loss occurring on an account if or<br>
                        when a negative (losing trade/s) are occurring or have already occurred.</p></li>
                        <li><p>After a full restriction on an account has been imposed, the Grandefex team will close all open trades/positions on that account<br>
                            until full verification procedure has been completed.</p></li>
                            <li><p>Due to high or low market volatility and security purposes our risk management can change the trading conditions individually<br>
                                without any notification in advance.</p></li>
                                <li><p>The value of your investments can go down as well as up. Losses can exceed deposits on margin products. Complex products,<br>
                                    including all types of investment assets and instruments, come with a high risk of losing money rapidly due to leverage. You<br>
                                    should consider whether you understand how all types of investment assets or any of our other products work and whether you<br>
                                    can afford to take the high risk of losing your money or making money.</p></li>
                   </ul>
                </div>

            </div>

        </div>

    </div>
 
</div>

