<div class="container">
    <div class="first-row">
        <div class="first-row-header d-flex justify-content-center">
    <h1>stocks</h1>
        </div>
        <div class="first-row-body d-flex justify-content-center">
            <div class="card ">
                <div class="card-body px-5 py-5 ">
                    <h6>Big name companies are yours to follow</h6>
           <p>Stock trading gives you a vested interest in a company’s business dealings. As a widely popular income stream and investment mechanism, 
               it also diversifies your portfolio.</p><br>
               <p>Trading Stocks is not only popular but is simple also and is an excellent avenue into learning financial markets. 
                   The familiarity of big names such as Coca-Cola, 
                   McDonalds and Apple gives confidence to new traders. 
                   It does not require a background in finance and news updates about large companies appear in the media very frequently.</p><br>
                   <p>Preferences vary between trading groups of stocks or focusing on just one or two. Our customers can choose from large numbers of global stocks that we offer. 
                       Logo gives you the ability to get a piece of some of the biggest companies in the world through trading their stocks online.</p><br>
                       <p>There is no dependency on an uptick happening for a stock if you want to go short on it when you trade with us. 
                           You can buy or sell as you see fit when trading stocks online, just as with any other asset class.</p><br>
               <h6>Common and preferred stock</h6>
               <p>Stocks come in two flavors: common and preferred. The significant difference is in corporate voting rights,
                    which common stocks confer but preferred stocks do not. On the other hand holders of preferred stocks have the legal right to be paid an amount of dividends first, 
                   before any are paid to other shareholders.</p><br>
                
                   <h6>Benefit of trading stocks</h6>
                   <p>Significant profits are possible from trading stocks. Given the volatility of the stock market, it needs to be performed correctly.</p><br>
                       <h6>Stock trading online</h6>
                       <p>Beograd Investment Capital provides you with the capability to trade stocks online. This method operates on price movements up or down, which traders try to predict by taking out a contract. 
                           It is a straightforward investment process with instant cash settlement of profits and losses.</p><br>
                       <p>While selling stocks short is restricted in the actual stock market, online trading based on price movements has no such constraints.
                            You can go long or short as you choose. Online stock trading enables you to take advantage of many opportunities in world-wide markets. 
                           It also offers a means of diversifying your trading strategy.</p><br>
                            <p>Check out our <span style="color: #312085;"><a href="/market/trading-information">Trading Conditions</a></span> page.</p>
                            <p>Open <span style="color: #312085;"><a href="/trade">the Beograd Investment Capital trading platform</a></span> page in order to see all the tradable stocks that we offer.</p><br>
                 
                </div>

            </div>

        </div>

    </div>
 
</div>


