<div class="container">
    <div class="first-row">
        <div class="first-row-header d-flex justify-content-center">
    <h1>currency pairs</h1>
        </div>
        <div class="first-row-body d-flex justify-content-center">
            <div class="card ">
                <div class="card-body px-5 py-5 ">
                    <h6>Currency Pairs explained</h6>
           <p>Currencies are matched in pairs to obtain a price for one against the other, also called the quotation. 
               The first named currency in a pair is the base currency and the other is the quote currency.</p><br>
               <p>In a currency pair, the value of the base (first) currency is compared with that of the quote (second) currency. 
                   It represents how much in quote currency you need to buy one base currency unit. 
                   All currencies are assigned a three letter code called an ISO (International Organization for Standardization) currency code that identifies them on global currency and financial markets. 
                   For example, USD is the ISO code assigned to the U.S. Dollar.</p>
               <h6>How Currency Pairs are used</h6>
               <p>The foreign exchange market (Forex) is where currency pairs are traded and is the world’s biggest financial market by far. 
                   It is where currencies are bought, sold, exchanged and speculated on. It also facilitates currency conversion for global investment and commerce.
                    A huge volume of trading takes place daily on the Forex market, which is open non-stop around the clock for five days a week, major holidays excepted</p><br>
                    <p>Trading on Forex involves simultaneously buying one currency in a pair and selling the other. 
                        However, you may think of a currency pair as a single entity or instrument that can be bought or sold. 
                        Buying a currency pair, for example, implicitly involves buying the base currency and selling the quote currency in one transaction.
                    </p>
                   <h6>Currency Pairs: The Majors</h6>
                   <p>The most heavily traded currency pair of all is the Euro against the U.S. Dollar, depicted as EUR/USD. 
                       The high level of trading also means it is the most liquid pair of all. 
                       A quotation (price) for EUR/USD of 1.2500 would mean one Euro (the base currency) is worth US$ 1.25 (the quote currency or counter currency). 
                       You could think of it as buying 100 Euros would cost you $125.</p>
                       <h6>Currency Pairs: Minors and Exotics</h6>
                       <p>Minor currency pairs, also known as crosses, are those that do not include the U.S. Dollar. 
                           They are not as liquid as the majors but still offer more than adequate liquidity and are also subject to wider spreads. 
                           Crosses with the greatest trading volume are those where both currencies are also majors. Examples are EUR/GBP, EUR/CHF and GBP/JPY.</p><br>
                       <p>Exotic pairs include emerging market currencies. Spreads are considerably wider and there is less liquidity.
                            The U.S. dollar and Singapore dollar pair is an example of an exotic currency pair – USD/SGD.</p><br>
                            <p>Check out our <span style="color: #312085;"><a href="/market/trading-information">Trading Conditions</a></span> page.</p>
                            <p>Open <span style="color: #312085;"><a href="/trade">the Beograd Investment Capital trading platform</a></span> page in order to see all the tradable currency pairs that we offer.</p><br>
                 
                </div>

            </div>

        </div>

    </div>
 
</div>

